/*==============================================================================================


villakubu-mobile.css 1.0.0

https://github.com/firstpersoncode/villa-kubu


Dear fellow developers,


To avoid any conflict and messy coding,
please note that, from now on,
villakubu-mobile.css cannot be downloaded anymore from its hosting.


villakubu-mobile.css is now being developed using task runner GRUNTjs
as small chunks of css files, then concatenated into one file.


If you would like to make adjustments on villakubu-mobile.css,
you can become a collaborator to its repository
at https://github.com/firstpersoncode/villa-kubu


send your username, full name or email address of your github.com account
to nasser@softwareseni.com to be able to become collaborator of its repository.


Nasser Maronie
Front-End Developer


nasser@softwareseni.com
softwareseni.com


SOFTWARESENI


==============================================================================================*/
/*
==============================================================================================
Nasser Maronie
Villakubu
SoftwareSeni 2016

contrib: Nasser, V edit, Yanuar
mobile.css
==============================================================================================*/

@media(max-width:1024px) {
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
		font-size: 8pt;
		padding: 0 15px;
	}

	.home-bedrooms .ss-part-hide-image {
		height: auto;
	}

	.search-items .row {
		margin: 30px 0;
	}

	.search-items .row .prices .price .price-label .price-currency {
		font-size: 20pt;
	}

	.search-items .row .prices .price .price-label .price-value {
		font-size: 25pt;
	}

	.search-items .row .prices .price .per-night-label:before {
		width: 23%;
	}

	.search-items .row .counts .detail {
		margin-right: 0;
	}

	.filter .button-category .field-wrapper>button {
		font-size: 9px !important;
	}

	.detail-content .price-box .inclusion .button {
		font-size: 8pt;
	}

	.facilities .feature-icons ul li {
		margin: 0 20px;
	}

	#ccyear {
		width: 47%;
	}
}





@media (max-width:959px) {
	#post-269 .col-md-3 {
		width: 100%;
	}
}





@media (max-width:420px) {
	.award.traveler-choice {
		height: auto;
	}
}





@media (max-width:374px) {
	body.page-template-template_bedrooms .search-items .row .prices .price .price-label .price-value {
		font-size: 18pt;
	}

	.services.box ul li {
		float: none;
		width: 100%;
	}
}






@media (max-width:991px) {
	.filter form label{
		float: none;
		text-align: left;
		padding: 0px;
		margin-top: 10px;
	}

	#post-269 .col-md-3 {
		padding: 0 10px;
	}

	#ss_parts_widget-2 .ss-parts-single-part h2 {
		padding-left: 10px;
		padding-right: 10px;
	}

	#mega-menu-wrap-primary #mega-menu-primary,#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children>a.mega-menu-link:after,#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children>a.mega-menu-link:after,#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item-has-children>a.mega-menu-link:after,#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-right {
		margin: 0;
	}

	#footer-middle,#home-bottom #ss_part_widget-4,#ss_part_widget-7 {
		text-align: center;
	}

	#mega-menu-wrap-primary .mega-menu-toggle {
		display: block;
		background: 0 0;
		color: #333;
		outline-color: transparent !important;
	}

	#mega-menu-wrap-primary .mega-menu-toggle #mega-toggle-block-1:before {
		color: #776341;
		font-size: 25pt;
		padding: 10px;
		border-radius: 5px;
	}

	#mega-menu-wrap-primary .mega-menu-toggle #mega-toggle-block-1:after {
		display: none;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item {
		display: list-item;
		z-index: 99;
		float: none !important;
		border-top: 1px solid #C4B298;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>ul.mega-sub-menu {
		display: none;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-toggle-on>ul.mega-sub-menu {
		position: static;
		width: 100%;
		display: block;
		opacity: 1;
		background: #f1f1f1;
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: 0;
		transition: 0;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
		padding: 0 10px;
	}

	#mega-menu-wrap-primary .mega-menu-toggle+#mega-menu-primary {
		position: absolute;
		display: block;
		z-index: 999999999999;
		background: #fff;
		overflow: hidden;
		width: 100%;
		top: 0;
		box-shadow: 0 10px 10px rgba(0,0,0,.3);
		opacity: 0;
		pointer-events: none;
		-webkit-transition: ease-in-out .3s;
		transition: ease-in-out .3s;
	}

	#mega-menu-wrap-primary .mega-menu-toggle.mega-menu-open+#mega-menu-primary {
		top: 60px;
		opacity: 1;
		pointer-events: auto;
		-webkit-transition: ease-in-out .3s;
		transition: ease-in-out .3s;
	}

	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu .ss-part-image {
		display: none;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.widget_ss_part_widget {
		display: inline-block;
		float: none;
		width: 100%;
		padding: 5px 10px;
	}

	#mega-menu-primary .fa,#offcanvas {
		display: block;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.widget_ss_part_widget .ss-part-title-link h2 {
		font-size: 8pt;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
		color: #776341;
		display: block;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item-has-children:after {
		position: absolute;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:after {
		width: 100%;
		bottom: -5px;
		margin: 0;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-parent>a.mega-menu-link,#mega-menu-wrap-primary #mega-menu-primary>li.mega-current_page_item>a.mega-menu-link {
		background: #C4B298;
		color: #fff;
	}

	#navbar .menu,.offcanvas-menu>* {
		display: none;
	}

	.offcanvas-menu>.offcanvas-hamburger {
		display: block;
		padding: 12px 0;
	}

	.ss-slideshow .ss-browse .nav-text {
		display: none !important;
	}

	#offcanvas ul ul {
		display: none;
	}

	#offcanvas ul li.opened>ul {
		display: block;
	}

	#logo {
		width: 80px;
		right: auto;
		left: 10px;
	}

	#section-header-top {
		display: none;
	}

	#section-header-middle {
		padding: 25px 0;
	}

	#section-header-middle .container {
		padding: 0;
	}

	.ss-villa-search-widget .input-wrapper {
		width: 46.5%;
		margin: 10px 5px !important;
	}

	.ss-villa-search-widget input[type=submit] {
		margin: 15px;
	}

	.ss-villa-search-widget .search-dropdown {
		width: 95.5%;
		margin: 0;
	}

	#custom-select-step.sub-menu {
		width: 85%;
	}

	#custom-select-step.sub-menu li {
		width: 100%;
	}

	.sticky-search-container.sticky-search {
		top: -257px;
	}

	#ss_parts_widget-2 .ss-parts-single-part h2 {
		font-size: 15px;
	}

	#footer-middle .ss-menu-container {
		display: inline-table;
		width: auto;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	#footer-middle .ss-menu-container li {
		display: inline-block;
		margin: 0 20px;
	}

	#footer-middle .ss-menu-container h2 {
		display: none;
	}

	#footer-middle #navbar-contact {
		padding-left: 0;
	}

	.ss-slideshow .ss-slide-caption h3 {
		font-size: 30px;
	}

	.ss-slideshow .ss-slide-caption p {
		font-size: 15px;
	}

	.facilities .bedroom,.facilities .customer-review,.facilities .features {
		margin-right: 0;
		margin-left: 0;
		height: auto;
	}

	.detail-content .count {
		margin-top: 30px;
	}

	.detail-content .price-box .inclusion .button {
		font-size: 15pt;
	}

	.facilities .feature-icons ul li {
		margin: 0 5px;
	}

	.facilities .facilitiy,.facilities .features,.facilities .services {
		margin-right: 0;
		height: auto;
	}

	.wpcr3_review_item .wpcr3_product {
		height: auto;
		width: 100%;
	}

	.filter form {
		width: 100%;
	}

	.search-items .row .image .ss-slideshow .ss-slide {
		min-height: 250px;
	}

	.search-items .row .details .villa-detail {
		max-height: 115px;
	}

	.search-items .row .counts .bed,.search-items .row .counts .detail,.search-items .row .counts .man {
		border-right: 0;
		padding: 0 0 0 10px;
	}

	.search-items .row .counts {
		padding: 10px 20px;
		height: auto;
	}

	.search-items .row .prices .price {
		padding-top: 60px;
	}

	.search-items .row .counts .bed span,.search-items .row .counts .man span {
		margin-right: 20px;
	}

	.search-items .row .counts .detail {
		display: inline-block;
		width: 40%;
	}

	.post-wrapper .post .entry-date,.search-param .info-param .date-param,.search-param .info-param .villa-param {
		display: none;
	}

	.search-items .row .prices .price .price-label .price-currency {
		font-size: 25pt;
	}

	.search-items .row .prices .price .price-label .price-value {
		font-size: 35pt;
	}

	.search-items .row .prices .price .per-night-label:before {
		width: 43%;
	}

	.info-param .open-search {
		padding: 0;
		color: #776341;
		background: 0 0;
		font-weight: 600;
		font-size: 10pt;
	}

	.search-items .row .details,.search-items .row .prices {
		height: 400px;
		border-left: .5px solid #ddd;
	}

	.search-items .row .prices .button-sub,.search-items .row .prices .button-sub:nth-of-type(2) {
		width: 41%;
	}

	.filter form select,body.page-template-default .features.box ul li,body.page-template-template_bedrooms .features.box ul li,body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper>select {
		width: 100%;
	}

	.filter .button-category .field-wrapper>button {
		font-size: 10px !important;
	}

	.filter form>.field-wrapper {
		text-align: left;
	}

	body.page-template-template_bedrooms .filter form,body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper {
		width: 100%;
		text-align: left;
	}

	.responsive-tabs__list__item {
		font-size: 8pt !important;
	}

	.responsive-tabs .responsive-tabs__panel {
		padding: 5px !important;
	}

	.blog .post-wrapper,.detail-content .col-md-9,.single-post .status-publish .col-md-9 {
		padding-right: 0;
	}

	body.sticky-search-on #section-home-middle {
		margin-top: 180px;
	}

	.floorplan-container>div>img.zoomed {
		width: 700px;
	}

	.ss-modal {
		width: 90%;
	}

	.gallery-item,.videos-gal {
		width: 50% !important;
	}

	#accept .accept .checkbox {
		padding-left: 50px;
	}

	#accepptermscbx {
		margin-left: -50px;
	}

	#ta-certificate,.wpcr3_review_item .wpcr3_review {
		height: auto;
	}

	#ta-certificate .ss-part-image img {
		width: 50%;
	}
}










@media (max-width:767px) {
	.home-bedrooms .ss-part-hide-image {
		height: auto;
	}

	#footer-middle .ss-menu-container li {
		margin: 0 5px;
	}

	#footer-middle .ss-menu-container li a {
		font-size: 10pt;
	}

	.ss-villa-search-widget .input-wrapper {
		width: 100%;
		margin: 0 !important;
	}

	.ss-villa-search-widget input[type=submit] {
		width: 50%;
	}

	.ss-villa-search-widget input {
		width: 100%;
		margin: 10px 0;
	}

	.ss-villa-search-widget .search-dropdown {
		width: 100%;
	}

	.sticky-search-container.sticky-search {
		top: -255px;
	}

	.ss-slideshow .ss-slide-caption h3 {
		font-size: 15px;
	}

	.ss-slideshow .ss-slide-caption p {
		line-height: 1;
		font-size: 10px;
	}

	.tablepress .column-1 {
		width: auto;
	}

	.gallery-grid .row>a,.gallery-grid .row>a:nth-of-type(1) {
		width: 100% !important;
		height: auto;
	}

	.gallery-grid .row>a:nth-of-type(1) img {
		width: 100%;
		z-index: 1;
		-ms-transform: translateY(0) scale(1);
		-o-transform: translateY(0) scale(1);
		-moz-transform: translateY(0) scale(1);
		-webkit-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
	}

	.detail-content .price-box .inclusion .button {
		font-size: 8pt;
	}

	.facilities .feature-icons ul li span {
		font-size: 7pt;
	}

	#slideshow .images {
		width: 100%;
		left: 0 !important;
		right: 0 !important;
	}

	#slideshow .images>div {
		padding-top: 0 !important;
		background-size: contain;
	}

	.search-param .info-param {
		display: block;
	}

	.info-param .open-search {
		margin-left: 0;
		width: 100%;
	}

	.search-param .info-param>div {
		text-align: center;
		border: 0;
		box-shadow: none;
	}

	.search-param .info-param>div>span {
		margin-left: 0;
	}

	.filter .button-category .field-wrapper {
		width: 48%;
		margin: 5px 0;
	}

	.filter {
		display: block !important;
	}

	.filter>div {
		width: 100% !important;
		text-align: left;
	}

	.filter form {
		float: none;
	}

	.filter form select,body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper,body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper>select,body.page-template-template_search_villas .filter>.col-md-8>span {
		float: none;
		width: 100%;
	}

	.search-items .row .details {
		border-right: .5px solid #ddd;
	}

	.search-items .row .prices .price .per-night-label:before {
		width: 25%;
	}

	.search-items .row .counts {
		text-align: left;
		position: relative;
	}

	.search-items .row .prices {
		padding: 10px;
		height: auto;
		text-align: center;
	}

	.search-items .row .prices .price {
		position: relative;
		height: auto;
		padding-top: 10px;
	}

	.search-items .row .prices .button {
		position: relative;
		display: block;
		bottom: 0;
		margin-top: 15px !important;
	}

	.search-items .row .prices .button-sub {
		width: 40%;
		display: inline-block;
		right: auto;
	}

	.search-items .row .prices .button-sub:nth-of-type(2) {
		display: inline-block;
		left: auto;
	}

	body.page-template-template_bedrooms .filter form {
		width: 100%;
	}

	.search-items .row .prices .price .price-label .price-currency {
		font-size: 18pt;
	}

	.search-items .row .prices .price .price-label .price-value {
		font-size: 20pt;
	}

	.search-items .row .details,.search-items .row .details .villa-detail {
		overflow: visible;
		max-height: none !important;
		height: auto !important;
	}

	.responsive-tabs .responsive-tabs__heading--active,.responsive-tabs .responsive-tabs__heading--active:hover {
		background: #C4B298 !important;
		border-bottom: none;
		color: #333 !important;
	}

	.responsive-tabs .responsive-tabs__panel {
		border-width: 4px !important;
		padding: 15px 3px !important;
	}

	.responsive-tabs ul.responsive-tabs__list {
		display: none;
	}

	.villa-compare {
		padding: 0;
	}

	.special-offer .ss-parts-single-part {
		height: auto;
	}

	.floorplan-container>div>img.zoomed {
		width: 350px;
	}

	.form-horizontal {
		text-align: left;
	}

	#creditcard .control-group:last-child label:nth-of-type(2),.form-horizontal .control-group label {
		width: 100%;
		padding-right: 0;
	}

	.form-horizontal .control-group .controls {
		width: 100%;
		float: none;
	}

	#cccvv,#ccmonth,#ccyear,#creditcard .control-group:last-child .controls {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.credit-icon {
		width: 100%;
	}

	#revisedates .span6 {
		width: 100%;
		float: none;
	}

	.picker .picker__holder {
		font-size: 12pt !important;
	}

	.picker .picker__wrap .picker__table thead {
		font-size: 12pt;
	}

	.picker .picker__wrap .picker__table td>div,.picker .picker__wrap .picker__table th {
		padding: 5px;
	}

	#slider .flex-caption {
		font-size: 10px;
		padding: 5px !important;
	}

	.gallery-item,.videos-gal {
		width: 100% !important;
	}

	#ta-certificate .ss-part-image img {
		width: 70%;
	}

	#enquireModal .arrivaldate,#enquireModal .departuredate {
		width: 100%;
		float: none;
		margin: 0;
	}
}
/*
==============================================================================================
Nasser Maronie
Villakubu
SoftwareSeni 2016

contrib: Nasser, V edit
mobile-new.css
==============================================================================================*/

@media (max-width:1025px) {
	/*a*/

	#packages .special-wrap {
		line-height: 1.5;
	}

	#packages .ss-parts-single-part>h2 {
		font-size: 24px;
	}

	#post-1057>.entry-title {
		text-align: center;
	}

	#post-1057 #questions-block li>label {
		width: 20%;
	}

	#post-1057 #questions-block li>input,#post-1057 #questions-block li>textarea {
		width: 70%;
	}

	#post-1057 #questions-block #datesform .span6,#post-1057 #questions-block #datesform .span6:nth-of-type(2),#post-1057 #questions-block #numberGuestsform .span6,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2) {
		width: 50%;
	}

	#post-1057 #questions-block #datesform .span6>label,#post-1057 #questions-block #numberGuestsform .span6>label {
		width: 40%;
	}

	#post-1057 #questions-block #datesform .span6:nth-of-type(2)>input,#post-1057 #questions-block #datesform .span6>input,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>input,#post-1057 #questions-block #numberGuestsform .span6>input {
		width: 50%;
	}

	#post-1057 #questions-block #datesform .span6:nth-of-type(2)>label,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>label {
		width: 30%;
	}

	/* bedroom - search result template - popup detail*/
	.page-template-template_search_villas .ss-modal{
		padding: 15px;
		max-width: 100%;
	}
}

@media (max-width:991px) {
	#footer-middle .widget_ss_part_widget h2,.page-template-template_agent .lx-name:hover .lx-name-inner>span>a>span {
		display: none;
	}

	.sticky-search-container {
		padding-top: 20px;
	}

	#ss_part_widget-15,.ss-villa-search-widget,.ss-villa-search-widget .input-wrapper,.ss-villa-search-widget .search-dropdown {
		text-align: center;
		width: 100%;
	}

	#ss_part_widget-15 {
		margin: 10px 0;
	}

	.ss-villa-search-widget {
		padding: 0;
	}

	.ss-villa-search-widget .input-wrapper {
		padding: 10px 0;
		margin: 0 !important;
	}

	.ss-villa-search-widget input {
		margin: 0;
	}

	.ss-villa-search-widget .search-dropdown {
		padding: 0px;
		margin: 10px 0px;
	}

	.home-bedrooms .widget_ss_container_open_widget {
		padding: 20px 0;
	}

	#home-bottom #home-review,#packages .ss-parts-single-part:nth-of-type(even),#packages .ss-parts-single-part:nth-of-type(odd),.traveler-choice {
		padding: 0;
	}

	.ss-villa-search-widget input[type=submit] {
		width: 30%;
		float: none;
	}

	#footer-middle .widget_ss_part_widget {
		text-align: center;
	}

	.page-template-template_agent .availability-calendar>.container {
		overflow: auto;
	}

	.page-template-template_agent .lx-property .lx-name-inner>span>a {
		pointer-events: none;
	}

	.villa-namepull-left a {
		font-size: 15px;
	}

	.single-villa .villa-namepull-left {
		font-size: 19pt;
	}

	.villa-thumbnails>div {
		width: 50%;
		text-align: center;
	}

	#packages .special-wrap {
		padding: 15px;
	}

	#archivements .award-container,#packages #packages-part-2276>ul,#packages .special-wrap,.emerald-wrapper,.emerald-wrapper>div {
		height: auto;
	}

	#packages #packages-part-2276>ul>li,.emerald-wrapper>div {
		margin-bottom: 10px;
	}

	#packages .special-wrap>.special-wrap-img {
		height: 300px;
	}

	#packages .special-wrap>.special-wrap-footer {
		position: static;
		margin: 20px auto;
	}

	#archivements .award-container>.award {
		margin-bottom: 5px;
	}

	#ss_wpcr3_custom-2 {
		height: 550px;
	}

	.review-box .review-row-item {
		width: 100%;
		margin-bottom: 20px;
	}

	.traveler-choice {
		width: 30%;
		margin: 0 auto 20px;
	}

	.enquiry-form .form-group>.form-label {
		width: 100%;
		margin-bottom: 15px;
	}

	.enquiry-form .form-group>.form-control-wrapper select[name=adult_],.enquiry-form .form-group>.form-control-wrapper select[name=children_],.enquiry-form .form-group>.form-control-wrapper select[name=infant_] {
		width: 12%;
	}

	.enquiry-form .form-group>.form-control-wrapper select[name=adult_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=children_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=infant_]+span {
		width: 80%;
		margin-bottom: 10px;
	}

	#input-villa>.form-control-wrapper select,.enquiry-form .form-group>.form-control-wrapper input:not([type=checkbox]) {
		width: 45%;
		float: none;
		margin-bottom: 15px;
		display: block;
	}

	#country-phone .form-group:nth-of-type(1)>.form-control-wrapper select {
		width: 65%;
	}

	.enquiry-form .form-group>.form-control-wrapper {
		width: 100%;
	}

	#post-1057 .entry>.col-md-4 {
		border-left: none;
	}
	#custom-select-step.sub-menu{
		left: 25px !important;
	}



}

@media (max-width:767px) {
	#ss_part_widget-15 .dropdown a {
	    font-size: 12px;
	}
	.ss-villa-search-widget input[type=submit] {
		width: 50%;
	}

	.villa-thumbnails>div,input[name=first_name_].form-control,input[name=last_name_].form-control {
		width: 100%;
	}

	#form-wysija-2,#form-wysija-2 .wysija-paragraph,#wysija-2 .wysija-submit {
		display: block;
		width: 100%;
	}

	#form-wysija-2 .wysija-paragraph {
		padding: 10px 0;
	}

	.page-template-template_agent .post-villa>.calendar-legend,.page-template-template_agent .post-villa>button {
		float: none;
		display: block !important;
		text-align: left;
		margin-top: 15px;
	}

	#enquireModal .arrivaldate,input[name=first_name_].form-control {
		margin-bottom: 15px;
	}

	.villa-namepull-left {
		line-height: 1.5;
	}

	.villa-namepull-left a {
		font-size: 15px;
	}

	.villa-namepull-left pre {
		display: inline-block;
		padding: 0 10px;
		position: absolute;
		right: 0;
	}

	.single-villa .villa-namepull-left {
		line-height: 1.3;
		font-size: 15pt;
	}

	.single-villa .villa-namepull-left pre {
		float: none;
		display: inline-block;
	}

	#packages #packages-part-2276>ul {
		height: auto;
	}

	#packages #packages-part-2276>ul>li {
		margin-bottom: 10px;
	}

	#archivements .special-wrap {
		padding: 15px;
	}

	.review-row-item .review-item-box .review-profile,.review-row-item .review-item-box .review-text {
		width: 80%;
		float: none;
		margin: 0 auto;
		display: block;
		font-size: 14px;
		line-height: 1.5;
	}

	.review-row-item .review-item-box .review-profile {
		width: 60%;
	}

	.enquiry-form .form-group>.form-control-wrapper input,.review-box {
		width: 100%;
	}

	.review-row-item .review-item-box h3.review-title {
		line-height: 1.5;
	}

	#ss_wpcr3_custom-2 {
		padding: 0;
	}

	#archivements .award-container>.award {
		flex-basis: 100%;
		height: auto !important;
	}

	.enquiry-form .form-group>.form-control-wrapper select[name=adult_],.enquiry-form .form-group>.form-control-wrapper select[name=children_],.enquiry-form .form-group>.form-control-wrapper select[name=infant_] {
		width: 25%;
	}

	.enquiry-form .form-group>.form-control-wrapper select[name=adult_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=children_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=infant_]+span {
		width: 65%;
	}

	#country-phone .form-group:nth-of-type(1)>.form-control-wrapper select,#input-villa>.form-control-wrapper select,.enquiry-form .form-group>.form-control-wrapper input:not([type=checkbox]) {
		width: 100%;
	}

	.enquiry-form .form-group>.form-control-wrapper span {
		width: 85%;
	}

	#post-1057 #questions-block #datesform .span6:nth-of-type(2)>label,#post-1057 #questions-block #datesform .span6>label,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>label,#post-1057 #questions-block #numberGuestsform .span6>label,#post-1057 #questions-block li>label {
		width: 100%;
		text-align: left;
		padding-top: 0;
	}

	#post-1057 #questions-block #datesform .span6,#post-1057 #questions-block #datesform .span6:nth-of-type(2),#post-1057 #questions-block #datesform .span6:nth-of-type(2)>input,#post-1057 #questions-block #datesform .span6>input,#post-1057 #questions-block #numberGuestsform .span6,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2),#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>input,#post-1057 #questions-block #numberGuestsform .span6>input,#post-1057 #questions-block li>input,#post-1057 #questions-block li>textarea {
		width: 100%;
	}

	.content-discount .discount-rates-box .inline-half {
		display: block;
		width: 100%;
		height: auto;
		padding: 20px;
	}

	.content-discount .discount-rates-box .inline-half:first-child {
		min-height: 200px;
	}

	.content-discount .discount-rates-box .dis-text {
		margin: 0;
	}

	#custom-select-step.sub-menu{
		left: 15px !important;
	}


}
