/*
==============================================================================================
Nasser Maronie
Villakubu
SoftwareSeni 2016

contrib: Bayu S
custom-bayu.css
==============================================================================================
*/
#post-773 .entry-title {
	display: block;
}

#form-wysija-2 .wysija-paragraph {
	margin-bottom: 0 !important;
}

#form-wysija-2 .wysija-submit {
	margin-top: 0 !important;
}

#post-56 h3 {
	margin-bottom: 10px;
}

#post-58 .entry a.btn,#post-60 a.btn-file {
	padding: 3px 8px;
	min-width: 93.77px !important;
	font-size: 9pt;
	display: inline-block;
	vertical-align: middle;
	border: none;
	font-weight: 100 !important;
}

@media (min-width:768px) and (max-width:992px) {
	.special-offer .ss-parts-single-part {
		height: 500px;
	}

	.search-items .row .prices .price .price-label .price-value {
		font-size: 27pt;
	}
}

@media (min-width:993px) and (max-width:1100px) {
	.search-items .row .prices .price .price-label .price-currency,.search-items .row .prices .price .price-label .price-value {
		font-size: 20px;
	}
}

#content .navigation ul li {
	width: auto;
	padding: 2px 10px;
}

.img-content img {
	height: 350px;
	width: 100%;
	object-fit: cover;
}

.img-content {
	margin-bottom: 15px;
}

.img-content .col-md-4 {
	padding-right: 5px;
}

.single .col-md-9>.entry .col-md-6 img {
	padding-right: 5px;
	margin-bottom: 15px;
}

.desc {
	color: #6b6b6b;
}

.desc a {
	color: #0092dd;
}



.currencyselector .dropdown-toggle:before {
	content: 'Currency ';
	font-weight: 300;
}

#ss_part_widget-15,.ss-villa-search-widget .input-wrapper input,.ss-villa-search-widget .search-dropdown,.ss-villa-search-widget input[type=submit] {
	font-size: 12px !important;
}

@media (min-width:450px) and (max-width:1025px) {
	

	.dropdown dd ul li a,.dropdown-menu>li>a {
		font-size: 20px !important;
	}
}

@media (max-width:767px) {
	#post-133 .col-md-3 {
		width: 100%;
	}

	#post-133 .ss-parts-single-part {
		min-height: auto;
		text-align: center;
	}

	#questions-block-inner #btn-leadrequest {
		margin-right: 0 !important;
	}
}

@media (min-width:768px) and (max-width:1024px) {
	#post-133 .col-md-3 {
		width: 33.33%;
	}

	#post-133 .ss-parts-single-part {
		text-align: center;
	}
}

#questions-block-inner #btn-leadrequest {
	float: right !important;
	margin-right: 10%;
}

#questions-block-inner #btn-leadrequest-reset {
	font-family: GothamBold,sans-serif;
}