/*
==============================================================================================
Nasser Maronie
Villakubu
SoftwareSeni 2016

contrib: Nasser, V edit, Saddam, Yanuar
custom.css
==============================================================================================*/


#questions-block li,.essb_links_list {
    list-style-type: none;
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Book.otf);
    font-weight: 400;
}

@font-face {
    font-family: GothamBlack;
    src: url(../fonts/Gotham-Black.otf);
    font-weight: bolder;
}

@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Bold.otf);
    font-weight: 700;
}

body {
    font-family: Gotham,sans-serif;
    font-size: 14px;
    color: #6d6454;
    line-height: 1.5;
    top: 0 !important;
}

p+p:last-child {
    margin-bottom: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

[class*=col-] {
    padding: 0;
}

.skiptranslate {
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    font-weight: 300;
}

p {
    margin: 0 0 1em;
    word-break: initial;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    color: #776341;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
}

a:active,a:focus,a:hover {
    color: #9B845E;
    text-decoration: underline;
}

body .btn,body .button {
    background-color: #C4B298;
    color: #FFF;
    padding: 10px;
    text-decoration: none;
    margin: 0;
    border: none;
    -webkit-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
}

body .btn-large {
    font-size: 30px !important;
    padding: 15px 35px;
}

body .btn.small {
    font-size: 10px !important;
    padding: 5px 10px;
    min-width: 0;
}

body .btn:focus,body .btn:hover,body .button:focus,body .button:hover,input[type=button]:focus,input[type=button]:hover,input[type=submit]:focus,input[type=submit]:hover {
    background: #f6e5cd !important;
    border: none;
    color: #111 !important;
    -webkit-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
}

#page-content .btn {
    max-width: none;
    min-width: 0;
    white-space: normal;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 0;
}

.custom-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:768px) {
    .custom-container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .custom-container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .custom-container {
        width: 1170px;
    }
}

.sticky-bar {
    overflow-x: hidden;
    -webkit-transition: ease-out .2s;
    transition: ease-out .2s;
    z-index: 1;
}

.sticky-bar.scroll-active {
    -webkit-transition: ease-out 0;
    transition: ease-out 0;
    z-index: 500;
}

#header-top {
    text-align: right;
    padding-top: 5px;
}

#inquiryModal .ss-modal-content {
    text-align: center;
}

#ss_part_widget-15 {
    background: #fff;
}

#ss_part_widget-15 p {
    margin: 0;
    display: inline-flex;
}

#ss_part_widget-15>p {
    display: none;
}

#ss_part_widget-15 .currencyselector .dropdown-toggle {
    color: #C4B298;
    padding: 0 25px;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
}
#ss_part_widget-15 .currencyselector .dropdown-toggle:hover{
    text-decoration: none;
}
#ss_part_widget-15 .currencyselector .dropdown-menu {
    max-height: 450px;
    overflow-y: auto;
    min-width: 0;
    border: none;
    padding: 5px;
    box-shadow: -3px 3px 18px rgba(0,0,0,0.3);
    border-radius: 0;
    background: #F1F1F1;
    top: 27px;
    margin: 0px;
}
#ss_part_widget-15 .currencyselector .dropdown-menu > li{
    width: auto;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid #ddd;
}
#ss_part_widget-15 .currencyselector .dropdown-menu > li:last-child{
    margin-bottom: 0px;
}
#ss_part_widget-15 .currencyselector .dropdown-menu > li >a:hover,
#ss_part_widget-15 .currencyselector .dropdown-menu > li >a.current-currency{
    color: #fff;
    background-color: #C4B298;
}

#ss_part_widget-15 .btn-booking {
    padding: 3px 0;
    font-size: 9pt;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px !important;
    border: none;
    font-weight: 100;
}


.currencyselector {
    padding: 0 0 0 3px;
    width: auto !important;
}

.currency-label {
    padding-right: 5px;
    float: left;
    color: #9b8360;
    font-weight: 400;
}

.currencyselector .dropdown-toggle {
    padding: 0 !important;
    font-weight: 700;
    color: #9b8360 !important;
}

.currency-wrapper {
    width: 50%;
    float: left;
    padding-left: 5px;
}

/*translate widget*/
#gtranslate{
    cursor: pointer;
    float: left;
    width: 50%;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}
#gtranslate>p{
    display: none;
}
#gtranslate #google_translate_element2, #gtranslate > select{
    display: none;
}
#gtranslate .dropdown{
    text-align: center;
}
#gtranslate .dropdown > a img{
    width: 20px;
    margin-left: 10px;
}
#gtranslate .dropdown > a span{
    display: none;
}
#gtranslate .dropdown > a .gtranslate-label{
    display: inline-block;
}
#gtranslate .dropdown ul{
    width: 150px;
    left: -9px;
    display: none;
    top: 27.5px;
    background: #f1f1f1;
    position: absolute;
    padding: 5px;
    margin: 0px;
    box-shadow: -3px 3px 18px rgba(0,0,0,0.3);
    z-index: 500;
}
#gtranslate .dropdown ul li{
    width: auto;
    list-style: none;
    margin-bottom: 5px;
    text-align: left;
}
#gtranslate .dropdown ul li:last-child{
    margin-bottom: 0px;
}
#gtranslate .dropdown ul li a {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0px 10px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
#gtranslate .dropdown ul li a:hover,
#gtranslate .dropdown ul li a.current-lang{
    background-color: #C4B298;
    color: #fff;
}
#gtranslate .dropdown ul li a img{
    width: 30px;
    height: auto;
    margin-right: 10px;
}
#gtranslate .dropdown ul li a .value{
    display: none;
}


#inquiryModal .btn {
    margin: 15px 10px;
}

#inquiryModal .ajax-loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@-moz-keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#mega-menu-wrap-primary {
    background: 0 0;
}

#mega-menu-wrap-primary #mega-menu-primary {
    text-align: right;
    margin: 0 -30px;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
    text-transform: uppercase;
    font-family: GothamBold,sans-serif;
    font-size: 12px;
    position: relative;
    padding: 0 20px;
    color: #9F8965;
    display: inline-block;
    font-weight: 900 !important;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:active,#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:focus,#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:hover {
    background: 0 0;
    color: #776341;
    font-weight: 900 !important;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:after {
    content: "";
    position: absolute;
    display: none !important;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: auto !important;
    height: 3px;
    width: 60%;
    background: #9B845E;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-parent>a.mega-menu-link:after,#mega-menu-wrap-primary #mega-menu-primary>li.mega-current_page_item>a.mega-menu-link:after,#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:active:after,#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:focus:after,#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:hover:after {
    display: block !important;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item:nth-of-type(1),#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item:nth-of-type(2),#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item:nth-of-type(3),#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item:nth-of-type(4) {
    float: left;
}

#mega-menu-wrap-primary #mega-menu-primary>li#mega-menu-item-130 a {
    background: #C4B298;
    color: #fff;
}

#mega-menu-wrap-primary #mega-menu-primary>li#mega-menu-item-130:hover a {
    background: #C4B298;
    color: #776341;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-toggle-on>a.mega-menu-link {
    background: 0 0;
    color: #C4B298;
    font-family: GothamBold,sans-serif;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children ul.mega-sub-menu {
    width: auto;
    visibility: visible;
    opacity: 0;
    -ms-transform: translateY(-400px) scale(0);
    -moz-transform: translateY(-400px) scale(0);
    -o-transform: translateY(-400px) scale(0);
    -webkit-transform: translateY(-400px) scale(0);
    transform: translateY(-400px) scale(0);
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    background: rgba(255,255,255,.9);
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-flyout ul.mega-sub-menu {
    min-width: 150px;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    background: 0 0;
    text-transform: uppercase;
    color: #776341;
    font-size: 8pt;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover {
    background: #C4B298;
    color: #fff;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children:hover ul.mega-sub-menu {
    opacity: 1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 10px;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu .ss-part-image {
    position: relative;
    height: 150px;
    overflow: hidden;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu .ss-part-image a {
    width: 100%;
    height: 100%;
    position: absolute;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu .ss-part-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;\A    \A    ';
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu a {
    display: inline-block;
    text-transform: uppercase;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu h2 {
    font-size: 11px;
    color: #776341;
}

#mega-menu-wrap-primary #mega-menu-primary>li#mega-menu-item-130.mega-current-menu-parent>a.mega-menu-link:after,#mega-menu-wrap-primary #mega-menu-primary>li#mega-menu-item-130>a.mega-menu-link:hover:after {
    display: none !important;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item-has-children {
    position: relative;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item-has-children:after {
    content: "\f078";
    color: #9F8965;
    font: normal normal normal 10px/1 FontAwesome;
    position: relative;
    display: inline-block;
    right: 10px;
    top: 14px;
    float: right;
    pointer-events: none;
}

#footer-middle .ss-menu-container h2:after,#footer-middle:after,#home-middle .part-middle-1:after,.facilities .feature-icons:after,.hero-icon:after,.wpcr3_pagination:after {
    content: "";
}

#mega-menu-wrap-primary #mega-menu-primary>li#mega-menu-item-152>ul {
    padding: 10px;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-parent ul.mega-sub-menu li.mega-current-menu-item a.mega-menu-link {
    background: #C4B298;
    color: #fff;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu {
    max-width: 100%;
    width: 100%;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.widget_ss_part_widget {
    width: 20%;
}

#mega-menu-wrap-primary #mega-menu-primary>li#mega-menu-item-152 ul.mega-sub-menu li.mega-menu-item:hover {
    background: #ece3d6;
}

#logo {
    width: 145px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 150;
}

#logo img {
    width: 100%;
    height: auto;
}

#content {
    min-height: calc(100vh - 400px);
}

#home-middle .ss-slideshow .ss-slide,.ss-slideshow .ss-slide {
    min-height: 0 !important;
}

.sticky-search-container {
    top: -150px;
    opacity: 0.3;
    cursor: wait;
}
.sticky-search-container:after{
    content: "";
    clear: both;
    display: block;
}

.ss-villa-search-widget .input-wrapper {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
}

.ss-villa-search-widget .input-wrapper img {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}

.ss-villa-search-widget .input-wrapper input {
    width: 100%;
    padding: 9px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.ss-villa-search-widget .input-wrapper:first-child {
    margin-left: 0;
}

.ss-villa-search-widget .input-wrapper:last-child {
    margin-right: 0;
}

.ss-villa-search-widget .search-dropdown {
    position: relative;
    padding: 0 20px 0 10px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

#home-review>p,#ss_part_widget-6>p,.ss-slide-navigation {
    display: none;
}

.ss-villa-search-widget .search-dropdown>li {
    padding: 9px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    max-height: 38px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #fff;
}
.ss-villa-search-widget .search-dropdown>li:not(:first-child){
    display: none;
}

#custom-select-step {
    display: none;
    padding: 5px;
    list-style: none;
    position: absolute;
    min-width: 300px;
    background: #F1F1F1;
    z-index: 999999;
    box-shadow: -2px 3px 15px 0 rgba(0,0,0,.34);
}

#custom-select-step li {
    background: #fff;
    padding: 8px;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    color: #aaa;
    position: relative;
    border: 1px solid #ddd;
}

#custom-select-step li:last-child {
    margin-bottom: 0;
}

#custom-select-step label:first-child {
    margin-right: 20px;
    font-weight: 300;
    position: absolute;
    left: 8px;
    bottom: 3px;
    font-size: 10pt;
}

#footer-middle .ss-menu-container h2,.price-currency {
    font-weight: 100;
}

.ss-villa-search-widget input[type=submit] {
    background: #C4B298;
    color: #fff;
    border: 0;
}

.sticky-search-container.sticky-search {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    z-index: 999998;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.sticky-search-container.sticky-search.mobile-sticky {
    top: 0;
}

#custom-select-step.sub-menu.sticky-sub-search {
    position: fixed;
}

.ss-slideshow {
    overflow: hidden !important;
    height: 40vw;
}

.ss-slideshow .ss-slide-caption {
    text-align: center;
    line-height: 0;
}

.ss-slideshow .ss-slide-caption h3 {
    font-size: 60px;
    text-shadow: 0 0 10px rgba(0,0,0,.8);
}

.ss-slideshow .ss-slide-caption p {
    font-size: 23px;
    text-shadow: 0 0 10px rgba(0,0,0,.8);
}

#ss_parts_slider_widget-5.ss-slideshow {
    margin-bottom: 15px;
}

.breadcrumb-wrapper {
    padding: 10px;
}

.bg-gray {
    background: #f1f1f1;
}

#home-middle .part-middle-1:after {
    clear: both;
    display: block;
}

#home-middle .part-middle-2 {
    padding: 50px 0;
}

#ss_part_widget-11 {
    padding-left: 0;
    padding-right: 0;
    margin: 25px 0;
}

#home-middle .ss-slideshow {
    max-height: 200px;
}

.home-bedrooms .widget_ss_container_open_widget {
    padding: 20px 10px;
}

.home-bedrooms .widget_ss_container_open_widget:hover h2 {
    text-decoration: underline;
}

.home-bedrooms .widget_ss_part_widget {
    padding-right: 0;
    padding-left: 0;
}

.home-bedrooms .widget_ss_part_widget a {
    text-decoration: none;
}

.home-bedrooms .widget_ss_part_widget h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.home-bedrooms .ss-part-hide-image {
    background: #fff;
    padding: 10px 25px 20px;
    height: 220px;
    border: 2px solid #ddd;
}

#ss_part_widget-5,#ta-certificate {
    border: 1px solid #ddd;
}

.home-bedrooms .widget_ss_part_widget p {
    margin-bottom: 0;
}

#home-bottom .part-bottom-1,#home-bottom .part-bottom-2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-bottom .widget_ss_part_widget {
    padding-right: 20px;
    padding-left: 20px;
}

#home-bottom #ss_part_widget-7 h2 {
    margin-bottom: 20px;
}

#ss_part_widget-5 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#ss_parts_widget-2 .ss-parts-single-part {
    position: relative;
    overflow: hidden;
}

#ss_parts_widget-2 .ss-parts-single-part h2 {
    position: absolute;
    z-index: 2;
    color: #fff;
    bottom: 20px;
    left: 20px;
    height: 20px;
    margin: auto;
    width: 100%;
    text-transform: uppercase;
    font-size: 12pt;
    text-shadow: 0 0 10px #000;
    font-family: Oswald,sans-serif;
}

#ta-certificate {
    text-align: justify;
    margin-bottom: 10px;
    overflow: hidden;
    height: 400px;
}

#ta-certificate .ss-part-image {
    margin: 10px -20px 15px;
    text-align: center;
}

#ta-certificate .ss-part-image img {
    width: 100%;
}

#home-bottom #ss_part_widget-16 {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

.page-template-front-page .wpcr3_review_item .wpcr3_review {
    height: 130px;
}

.wpcr3_review_item .wpcr3_content {
    border-left: 0;
    padding: 10px 0;
    padding-bottom: 0 !important;
    margin-bottom: 7px;
}

.wpcr3_review_item .wpcr3_dotline {
    display: none !important;
}

.wpcr3_pagination:after {
    clear: both;
    display: block;
}

.wpcr3_pagination .wpcr3_a {
    background: #776341;
    padding: 3px 7px;
}

.wpcr3_pagination .wpcr3_a.wpcr3_current {
    background: #9B845E;
}

.wpcr3_pagination .wpcr3_a:hover {
    background: #f6e5cd;
    color: #333;
}

#footer,.ui-widget-header {
    background: #C4B298;
}

.wpcr3_admin_response {
    color: #C4B298 !important;
}

div.wpcr3_review div.wpcr3_review_title.wpcr3_caps,div.wpcr3_review_author span.wpcr3_item_name {
    display: none !important;
}

.wpcr3_pagination {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

#ss_parts_widget-2 .ss-parts-single-part .ss-parts-image {
    padding-bottom: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#ss_parts_widget-2 .ss-parts-single-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;\A    \A    ';
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
}

#page-content a,.tablepress .column-1 {
    font-family: GothamBold,sans-serif;
}

#ui-datepicker-div {
    z-index: 999999 !important;
    border-radius: 0;
}

.ui-widget-header {
    color: #fff;
    border-radius: 0;
}

.ui-widget-header .ui-icon {
    -ms-filter: brightness(3000%);
    -o-filter: brightness(3000%);
    -moz-filter: brightness(3000%);
    -webkit-filter: brightness(3000%);
    filter: brightness(3000%);
}

#ss_social_media_widget-3 {
    text-align: left;
}

#ss_social_media_widget-3 a {
    font-size: 10pt;
    text-decoration: none;
}

.essb_links.essb_template_tiny-retina:hover a {
    opacity: 1 !important;
}

.essb_links_list {
    text-align: center;
}

.essb_links.essb_template_tiny-retina a:focus span,.essb_links.essb_template_tiny-retina a:hover span {
    color: #111 !important;
}

.essb_links_list li:not(.essb_totalcount_item) a {
    background-color: #776341 !important;
}

.essb_links.essb_template_tiny-retina a:hover {
    background: #f6e5cd !important;
}

#wysija-2 {
    font-size: 10pt;
}

#wysija-2 input {
    width: 100%;
}

#wysija-2 .wysija-submit {
    border: 0;
}

#wysija-2 .wysija-submit:hover {
    color: #9B845E;
}

#wysija-2 .wysija-input {
    color: #999;
}

#footer-middle {
    margin-top: 20px;
}

#footer-middle:after {
    clear: both;
    display: table;
}

#footer-middle .ss-menu-container,#footer-middle .widget_ss_container_open_widget,#footer-middle .widget_ss_part_widget {
    padding: 0 25px;
    line-height: 1.5;
}

#footer-middle .ss-menu-container h2:after {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 35%;
    border-bottom: 1px solid #fff;
}

#footer-middle .menu-header-container ul {
    padding-left: 0;
    list-style: none;
}

#footer-middle .menu-header-container ul a {
    border-bottom: none;
    color: #fff;
}

#ss_social_media_widget-2 {
    text-align: center;
}

#ss_social_media_widget-2 a {
    border: 0;
    font-size: 7pt;
}

#ss_part_widget-2 .ss-part-image img {
    width: 150px;
    height: auto;
}

#content .post-thumbnail-header,#hero {
    height: 30vw;
    max-height: 360px;
    overflow: hidden;
}

#section-header-top {
    background: #fff;
    border-bottom: 0;
    height: 35px;
    min-height: 0;
}

#section-header-middle {
    padding-bottom: 10px;
}

body.sticky-search-on #section-home-middle {
    margin-top: 80px;
}

#section-footer-top {
    text-align: center;
}

#page-content {
    padding: 20px 0;
    line-height: 1.5;
}

#page-content .entry-title,#page-content h2,#page-content h3 {
    margin: 25px 0;
}

.tablepress tr td {
    border-color: transparent;
    background: 0 0 !important;
}

.tablepress .column-1 {
    width: 300px;
}

#content .post-thumbnail-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.page-id-62 #page-content .col-sm-6 {
    margin: 30px 0;
}

body.page-id-62 #page-content .col-sm-6:nth-of-type(2) {
    padding-left: 20px;
}

body.page-id-62 #page-content .wp-image-181 {
    border: 2px solid;
}

.contact {
    margin-bottom: 25px;
    width: 80%;
    text-align: left;
}

.contact h3 {
    font-size: 15pt;
    margin: 0 !important;
}

.contact dt {
    width: 50%;
    display: inline-table;
}

.contact dd {
    width: 40%;
    display: inline-table;
}

.validity-tooltip {
    display: none !important;
}

#gform_wrapper_1 {
    max-width: 100%;
    margin: 50px 0;
}

#gform_wrapper_1 #field_1_1>div>span>label {
    display: none;
}

#gform_wrapper_1>form>div>ul>li>.ginput_container {
    padding: 0 !important;
}

#gform_wrapper_1>form>div>ul>li>.ginput_container input,#gform_wrapper_1>form>div>ul>li>.ginput_container textarea {
    border-radius: 5px;
    border: 1px solid #ccc !important;
}

#gform_wrapper_1>form>div>ul>li {
    margin: 15px 0;
}

#gform_wrapper_1>form>div>ul>li>label {
    margin: 0 !important;
}

#gform_wrapper_1>form>div>ul>li>.ginput_container>span,#gform_wrapper_1>form>div>ul>li>.ginput_container>span>input {
    width: 100%;
}

#gform_wrapper_1 .gform_footer {
    text-align: right;
}

#gform_wrapper_1 .gform_footer>input[type=submit] {
    margin: 0 !important;
    background: #C4B298 !important;
    border: none !important;
    border-radius: 3px !important;
}

#gform_wrapper_1 .gform_footer>input[type=submit]:hover {
    background: #f6e5cd !important;
}

#gform_wrapper_1>form>div>ul>li.gfield.gfield_error {
    background: 0 0;
    border: none;
    margin: 15px 0 !important;
}

#gform_wrapper_1>form>div>ul>li.gfield.gfield_error>.ginput_container input,#gform_wrapper_1>form>div>ul>li.gfield.gfield_error>.ginput_container textarea {
    border: 1px solid #C89797;
}

#gform_wrapper_1>form>div>ul>li.gfield.gfield_error>div.gfield_description {
    font-size: 10px;
    padding: 0 !important;
    pointer-events: none;
    opacity: .5;
}

body.single-villa #content.page {
    background: #f1f1f1;
}

body.single-villa #page-content {
    padding: 0;
}

#hero {
    position: relative;
    padding-top: 0 !important;
}

.hero-background-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-icon {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.hero-icon:after {
    display: block;
}

.camera-icon:after {
    padding: 2px 0 !important;
}

.single-villa .villa-namepull-left {
    text-align: left;
    font-size: 19pt;
    margin: 0 0 30px;
    text-transform: capitalize;
}

.detail-content {
    padding-top: 30px;
    padding-bottom: 120px;
    background: #fff;
}

.detail-content .col-md-9 {
    padding-right: 20px;
}

.detail-content .col-md-9 .read-more {
    font-style: italic;
}

.detail-content h4.pull-left {
    text-transform: uppercase;
    font-size: 16pt;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.detail-content .count {
    margin-bottom: 10px;
}

.detail-content .count img {
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.detail-content .count span {
    margin-right: 20px;
}

.detail-content .price-box {
    border: 1px solid #ddd;
    padding: 15px;
    line-height: 1.2;
}

.detail-content .price-box .tax-label {
    text-align: right;
    display: none;
}

.detail-content .price-box .inclusion {
    margin: 20px -15px -15px;
    padding: 10px 20px 20px;
    border-top: 1px solid #ddd;
    background: #f1f1f1;
}

.detail-content .price-box .inclusion:after {
    content: "";
    clear: both;
    display: block;
}

.detail-content .price-box .inclusion h5 {
    font-size: 11pt;
}

.detail-content .price-box .inclusion .button:nth-of-type(1),.detail-content .price-box .inclusion .button:nth-of-type(2) {
    width: calc(50% - 10px);
    background: #c4B298;
    padding: 15px;
    color: #fff;
    font-size: 7pt;
    font-family: Gotham !important;
    vertical-align: center;
    text-align: center;
    text-transform: uppercase;
}

.detail-content .price-box .inclusion .button:nth-of-type(1) {
    float: left;
    max-height: 43px;
}

.detail-content .price-box .inclusion .button:nth-of-type(2) {
    float: right;
    max-height: 41px;
}

.facilities .box {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px 15px;
    line-height: 1.8;
    overflow: hidden;
}

.facilities .box h4 {
    border-bottom: 1px solid #ddd;
    margin: -10px -15px 15px;
    padding: 20px;
}

.facilities .feature-icons {
    background: #fff;
    border: 1px solid #ddd;
    margin-top: -75px;
    height: auto;
    padding: 10px 0;
    text-align: center;
}

.facilities .feature-icons:after {
    display: none;
}

.facilities .feature-icons ul {
    padding: 0;
    list-style: none;
    line-height: 1.1;
}

.facilities .feature-icons ul li {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    vertical-align: middle;
    opacity: .3;
}

.facilities .feature-icons ul li.active {
    opacity: 1;
}

.facilities .feature-icons ul li img {
    -ms-filter: grayscale(100%) brightness(60%) sepia(100%);
    -o-filter: grayscale(100%) brightness(60%) sepia(100%);
    -moz-filter: grayscale(100%) brightness(60%) sepia(100%);
    -webkit-filter: grayscale(100%) brightness(60%) sepia(100%);
    filter: grayscale(100%) brightness(60%) sepia(100%);
    width: 60px;
    margin-bottom: 5px;
}

.facilities .feature-icons ul li i {
    font-size: 70px;
    line-height: 0;
    vertical-align: middle;
}

.facilities .feature-icons ul li span {
    display: block;
    font-size: 12pt;
    text-transform: uppercase;
}

#villa-amenities-facilities,.facilities .services.more:before {
    display: none;
}

.facilities .facilitiy,.facilities .features,.facilities .services {
    margin-right: 30px;
}

.facilities .features li span {
    font-family: GothamBold,sans-serif;
}

.facilities .bedroom table tr td {
    border: 1px solid #ddd;
    padding: 15px;
}

.facilities .features ul {
    padding: 0;
    list-style: none;
}

#read-more-services-trigger {
    position: absolute;
    bottom: 20px;
    font-style: italic;
}

.facilities .features {
    height: 250px;
}

.facilities .services {
    position: relative;
    height: 200px;
}

.facilities .facilitiy {
    height: 482px;
}

.facilities .services.more {
    height: auto;
}

.facilities .facilitiy ul,.facilities .services ul {
    width: 100%;
    list-style-position: inside;
    padding: 0;
}

.facilities .facilitiy ul:after,.facilities .services ul:after {
    display: table;
    content: " ";
    clear: both;
}

.facilities .facilitiy ul li:before,.facilities .services ul li:before {
    content: "•";
    position: absolute;
    left: 0;
}

.facilities .facilitiy ul li,.facilities .services ul li {
    position: relative;
    float: left;
    padding-left: 15px;
    list-style: none;
    width: 50%;
    text-align: left;
}

.facilities .facilitiy h5,.facilities .services h5 {
    width: 100%;
    font-size: 18px;
}

.facilities .customer-review {
    position: relative;
    height: 482px;
}

.facilities .customer-review .rating {
    padding: 0;
    list-style: none;
}

.facilities .customer-review .rating li {
    display: inline-block;
    color: #F6B716;
}

.facilities .customer-review .view-all {
    font-style: italic;
    position: absolute;
    bottom: 20px;
    z-index: 3;
}

.facilities .customer-review.more {
    max-height: auto;
}

.wpcr3_in_content .wpcr3_div_2,.wpcr3_in_content .wpcr3_div_2 input,.wpcr3_in_content .wpcr3_div_2 textarea,.wpcr3_in_content .wpcr3_div_2 tr {
    width: 100%;
    min-width: 0;
}

.wpcr3_in_content .wpcr3_div_2 textarea {
    height: initial !important;
}

.wpcr3_in_content .wpcr3_div_2 .wpcr3_fconfirm2 {
    width: 15px;
}

.wpcr3_review_form_text_field td input {
    margin-bottom: 15px;
}

.wpcr3_rating_stars {
    margin: 20px 0;
}

.wpcr3_button_1 {
    background: #9B845E;
    color: #fff;
    border-radius: 0;
    width: 45%;
    margin: 20px 0;
}

.wpcr3_button_1.wpcr3_cancel_btn {
    background: #776341;
    float: right;
}

.wpcr3_button_1.wpcr3_show_btn {
    width: auto;
}

.wpcr3_button_1:hover {
    background: #f6e5cd !important;
    border: 0;
}

.wpcr3_content {
    padding: 0;
    border: 0;
    padding-bottom: 0 !important;
}

.wpcr3_review_item .wpcr3_review {
    margin-bottom: 10px;
    text-align: left;
    height: auto;
    overflow: hidden;
}

.filter .button-category,.search-param,.search-param .info-param,.vr-content {
    text-align: center;
}

.wpcr3_review_item {
    overflow: hidden;
}

.wpcr3_review_item .wpcr3_product {
    height: 380px;
    overflow-y: auto;
}

.wpcr3_product>div.wpcr3_aggregateRating,.wpcr3_product>div.wpcr3_item_name {
    display: none !important;
}

.gallery-grid {
    margin-bottom: 30px;
    padding: 0 !important;
}

.gallery-grid .row>a:nth-child(n+6) {
    display: none;
}

.gallery-grid .row>a {
    width: 25% !important;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.gallery-grid img {
    width: 100%;
}

.not-mobile .gallery-grid .row>a img {
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.not-mobile .gallery-grid .row>a img:hover {
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery-grid .row>a:nth-of-type(1) {
    width: 50% !important;
}

.gallery-grid .row>a:nth-of-type(1) img {
    width: 100%;
    min-height: 400px !important;
    z-index: 1;
}

.gallery-grid .row>a:nth-of-type(5) img {
    -ms-filter: brightness(30%);
    -o-filter: brightness(30%);
    -moz-filter: brightness(30%);
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
    -webkit-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.gallery-grid .row>a:nth-of-type(5):hover img {
    -ms-filter: brightness(10%);
    -o-filter: brightness(10%);
    -moz-filter: brightness(10%);
    -webkit-filter: brightness(10%);
    filter: brightness(10%);
}

.gallery-grid .row>a:nth-of-type(5) span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 4;
    color: #fff;
    font-size: 15pt;
}

.gallery-grid .row>a:nth-of-type(5):after {
    display: none !important;
}

#slideshow {
    background: rgba(20,13,0,.85) !important;
}

#adv-custom-pager,#adv-custom-pager .thumbnail-button {
    background: rgba(155,132,95,.5) !important;
}

#slideshow .close {
    color: #fff;
    opacity: .7;
    z-index: 100;
}

.camera-icon,.floorplan-icon,.vr-icon {
    z-index: 160;
    background: #fff;
    width: 60px;
    margin: 0 5px;
    padding: 1px 12px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: inline-table !important;
    vertical-align: middle;
}

.vr-content,.vr-content>div div {
    margin: auto;
}

.vr-content,.vr-content:before {
    display: block;
    right: 0;
    position: fixed;
    left: 0;
}

.floorplan-icon a img,.vr-icon img {
    height: 37px;
    width: 37px;
}

.vr-content {
    top: -1000px;
    opacity: 0;
    z-index: 999999;
    height: 60%;
}

.vr-content>div {
    width: 100% !important;
}

.vr-content:before {
    content: "";
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    pointer-events: none;
}

.vr-content .close {
    font-family: FontAwesome;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    opacity: 1;
    z-index: 9999100;
}

.vr-content .load-ajax {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 200;
}

.vr-content .load-ajax img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ggskin_rectangle {
    display: none;
}

body.page-id-116 #content {
    background: #F1F1F1;
}

.search-param {
    padding: 10px 0;
}

.search-param .hidden-search-container:after {
    content: "";
    clear: both;
    display: block;
}

.search-param .info-param>div {
    font-size: 11pt;
    padding: 0 30px;
    line-height: 1.5;
    border-right: 1px solid #ddd;
    display: inline-table;
}

.search-param .info-param>div>span {
    vertical-align: middle;
    margin-left: 10px;
    color: #777;
}

.date-param:before,.villa-param:before {
    font-family: FontAwesome;
    font-size: 25pt;
    color: #C4B298;
    vertical-align: middle;
}

.date-param:before {
    content: "\f133";
}

.villa-param:before {
    content: "\f234";
}

.info-param .open-search {
    background: #C4B298;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    padding: 8px 15px;
    margin-left: 30px;
}

body.page-template-template_search_villas .filter {
    padding: 10px 0 0;
}

.filter .button-category {
    width: 100%;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filter .field-wrapper:not(:last-child) {
    display: none;
}

.filter .button-category .field-wrapper {
    width: 24.4%;
}

.filter .button-category .field-wrapper>button {
    width: 100%;
    background: #776341;
    padding: 5px;
    font-weight: 100;
}

.filter .button-category .field-wrapper>button.active {
    background: #f6e5cd;
    color: #111;
}

body.page-template-template_search_villas .filter>div {
    align-self: center;
}

body.page-template-template_search_villas .filter>.col-md-8>span {
    float: left;
    width: 50%;
    line-height: 1;
    padding: 7px 0;
}

body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper {
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden;
}

body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    width: 33px;
    height: 33px;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/chevrolet-dropdown.png) right no-repeat;
    background-size: 33px;
    pointer-events: none;
}

body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper>select {
    float: right;
    padding: 6.5px;
    line-height: 1;
    border: 1px solid #ddd;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter form {
    float: right;
    width: 98%;
    position: relative;
    overflow: hidden;
}

.filter form>.field-wrapper {
    text-align: right;
    position: relative;
    overflow: hidden;
}

.filter form>.field-wrapper:after{
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: url(../img/chevrolet-dropdown.png) right no-repeat;
    background-size: 33px;
    pointer-events: none;
}

.filter form label {
    width: 23%;
    margin-bottom: 0;
    padding: 5px;
    float: left;
    padding-right: 15px;
    overflow: hidden;
    max-height: 31px;
    text-align: right;
}

.filter form:after,.filter:after,.search-items .row .counts:after {
    display: block;
    content: "";
}

.filter form select {
    padding: 6.5px;
    line-height: 1;
    width: 77%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ddd;
}


.filter:after {
    clear: both;
}

.search-items .row {
    margin: 30px 0;
}

.search-items .row .image {
    position: relative;
    overflow: hidden;
    background: #fff;
    min-height: 270px !important;
    max-height: 270px;
    border: .5px solid #ddd;
}

.search-items .row .image img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover;
    font-family: 'object-fit: cover;\A    \A    ';
    width: 100%;
    height: 100%;
}

.search-items .row .details {
    height: 270px;
    overflow: hidden;
    border: .5px solid #ddd;
    border-right: 0;
    border-left: 0;
    background: #fff;
}

.search-items .row .details .name {
    padding: 20px;
    text-align: left;
    border-bottom: .5px solid #ddd;
}

.search-items .row .details .name h3 {
    margin: 0;
}

.search-items .row .details .villa-detail {
    padding: 0 20px 20px;
    max-height: 115px;
    overflow: hidden;
}

.search-items .row .counts {
    position: absolute;
    border-top: .5px solid #ddd;
    width: 100%;
    height: 54px;
    padding: 0 10px;
    bottom: 0;
    background: #fff;
}

.search-items .row .counts:after {
    clear: both;
}

.search-items .row .counts .bed,.search-items .row .counts .detail,.search-items .row .counts .man {
    padding: 13px 0 15px 15px;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

.search-items .row .counts .detail {
    border-right: 1px solid #ddd;
    padding: 10px;
    font-size: 11px;
    margin-right: 20px;
}

.search-items .row .counts .bed {
    border-right: 0;
}

.search-items .row .counts .bed i:before,.search-items .row .counts .man i:before {
    font-size: 22pt;
}

.search-items .row .counts .bed span,.search-items .row .counts .man span {
    margin-left: 5px;
    margin-right: 15px;
}

.search-items .row .counts .detail span {
    display: block;
}

.search-items .row .prices {
    height: 270px;
    border: .5px solid #ddd;
    background: #fff;
}

.search-items .row .prices .price {
    line-height: 1.2;
    padding: 20px;
}

.search-items .row .prices .price>div {
    text-align: center;
}

.search-items .row .prices .button {
    position: absolute;
    margin: auto !important;
    left: 0;
    right: 0;
    bottom: 80px;
    width: 86.5%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #776341;
    padding: 15px;
}

.search-items .row .prices .button-sub {
    bottom: 20px;
    padding: 15px 0;
    font-size: 7pt;
    width: calc(58% - 50px);
    left: auto;
    right: 20px;
    background: #c4B298;
    vertical-align: center;
    text-align: center;
}

.price-currency,.price-value {
    font-size: 20pt;
    color: #776341;
}

.search-items .row .prices .button-sub:nth-of-type(2) {
    left: 19px;
    right: auto;
    vertical-align: center;
    text-align: center;
}

.ss-img-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.price,.price-label {
    text-align: right !important;
    display: block;
}

.price-value {
    font-family: GothamBlack,sans-serif;
}

.price-currency {
    margin-right: 10px;
    float: left;
}

.from-label {
    font-size: 12pt;
    text-align: left !important;
    text-transform: uppercase;
}

.per-night-label {
    font-size: 12pt;
    text-align: right !important;
    position: relative;
    padding: 5px 0;
}

.per-night-label .total-label a{
  display: block;
}

/*.per-night-label:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25%;
    background: #777;
    left: 30px;
    top: 40%;
}*/

body.page-template-default .entry-title,body.page-template-template_bedrooms .entry-title {
    text-align: left;
    font-size: 28px;
    text-transform: uppercase;
    margin: 50px 0;
}

body.page-template-default .facilities .feature-icons,body.page-template-template_bedrooms .facilities .feature-icons {
    margin-top: 0;
}

body.page-template-default .features.box,body.page-template-template_bedrooms .features.box {
    border-bottom: none;
    margin: 0 auto;
    text-align: left;
}

body.page-template-default .features.box ul,body.page-template-template_bedrooms .features.box ul {
    display: inline-block;
    overflow: hidden;
}

body.page-template-default .features.box ul li,body.page-template-template_bedrooms .features.box ul li {
    display: inline-flex;
    width: 30%;
    overflow: hidden;
}

body.page-template-default .features.box:after,body.page-template-template_bedrooms .features.box:after {
    display: none;
}

body.page-template-default #page-content h2,body.page-template-template_bedrooms #page-content .entry-title:not(h1),body.page-template-template_bedrooms #page-content h2,body.page-template-template_bedrooms #page-content h3 {
    font-size: 17pt;
    margin: 0;
}

body.page-template-default .filter form,body.page-template-template_bedrooms .filter form {
    width: 33%;
    text-align: left;
}

#tablist1-panel2,#tablist1-panel3,.villa-compare {
    text-align: center;
}

.responsive-tabs-wrapper a {
    text-decoration: none !important;
}

.responsive-tabs ul.responsive-tabs__list {
    margin-left: 0 !important;
    padding: 0 26px !important;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.responsive-tabs .responsive-tabs__heading {
    background: #776341 !important;
}

.tabtitle {
    color: #fff !important;
}

.responsive-tabs__list__item {
    border-bottom: none !important;
    background: #C4B298 !important;
    padding: 10px 20px !important;
    color: #fff !important;
    font-size: 11pt !important;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-grow: .3;
    border: none !important;
    position: relative;
}

.responsive-tabs__list__item:after,.responsive-tabs__list__item:before {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    background: #C4B298;
}

.responsive-tabs__list__item:before {
    -ms-transform: skew(-16deg);
    -o-transform: skew(-16deg);
    -moz-transform: skew(-16deg);
    -webkit-transform: skew(-16deg);
    transform: skew(-16deg);
    left: -16px;
    border-left: 1px solid #f7f5f2;
    border-radius: 16px 0 0;
}

.responsive-tabs__list__item:after {
    right: -16px;
    border-right: 1px solid #f7f5f2;
    -ms-transform: skew(16deg);
    -o-transform: skew(16deg);
    -moz-transform: skew(16deg);
    -webkit-transform: skew(16deg);
    transform: skew(16deg);
    border-radius: 0 16px 0 0;
}

.responsive-tabs .responsive-tabs__list__item--active,.responsive-tabs .responsive-tabs__list__item:active,.responsive-tabs .responsive-tabs__list__item:hover {
    background: #F7F5F2 !important;
    z-index: 10 !important;
    color: #C4B298 !important;
    border: none !important;
}

.responsive-tabs .responsive-tabs__list__item--active:after,.responsive-tabs .responsive-tabs__list__item--active:before,.responsive-tabs .responsive-tabs__list__item:hover:after,.responsive-tabs .responsive-tabs__list__item:hover:before {
    background: #F7F5F2;
}

.responsive-tabs__list__item:first-child {
    z-index: 8;
}

.responsive-tabs__list__item:nth-of-type(2) {
    z-index: 6;
}

.responsive-tabs__list__item:nth-of-type(3) {
    z-index: 4;
}

.responsive-tabs__list__item:nth-of-type(4) {
    z-index: 2;
}

.responsive-tabs__list__item:last-child {
    z-index: 0;
    margin-right: 0 !important;
}

.responsive-tabs .responsive-tabs__panel {
    border: none !important;
    padding: 20px !important;
    background: #F7F5F2 !important;
}

body.page-template-template_bedrooms .tabcontent br {
    display: none !important;
}

.villa-compare {
    margin: 10px -10px;
}

.villa-compare .compare-item .compare-title,.villa-compare .compare-item .counts,.villa-compare .compare-item .img-wrapper {
    border: 1px solid #ddd !important;
    padding: 10px;
}

.villa-compare .compare-item .compare-title {
    background: #776341;
    height: 50px;
    padding: 10px 0;
}

.villa-compare .compare-item .compare-title a {
    color: #fff;
}

.villa-compare .count span {
    margin-right: 15px;
    margin-left: 5px;
}

.villa-compare .compare-item .price {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    text-align: center !important;
}

.villa-compare .compare-item .price .from-label {
    font-size: 10px;
    text-align: center !important;
    margin-right: 10px;
}

.villa-compare .compare-item .price .price-currency {
    font-size: 12px;
    float: none;
    display: inline-table;
}

.villa-compare .compare-item .price .price-value {
    font-size: 15px;
    display: inline-table;
}

.villa-compare .compare-item {
    padding: 10px;
}

.villa-compare .compare-item>div:not(:first-child) {
    background: #fff !important;
}

.villa-compare .compare-item .counts,.villa-compare .compare-item .img-wrapper {
    border-top: 0 !important;
}

.villa-compare .compare-item .img-wrapper:after {
    content: "";
    clear: both;
    display: block;
}

.villa-compare .detail span {
    width: 100%;
    display: block;
    margin-left: 0 !important;
}

.villa-compare .ss-slideshow {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;\A    \A    ';
    height: 100%;
    width: 100%;
}

.villa-compare .img-floorplan,.villa-compare .img-views {
    position: relative;
    margin-bottom: 15px;
    min-height: 0;
    padding-bottom: 70%;
    overflow: hidden;
    border: 1px solid #ddd;
}

.villa-compare .img-floorplan img,.villa-compare .img-views img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    font-family: 'object-fit: cover;\A    \A    ';
    height: 100%;
    width: 100%;
    cursor: pointer;
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition:ease-out .5s;
    transition:ease-out .5s;
}
.villa-compare .img-floorplan img:hover,.villa-compare .img-views img:hover{
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}

.villa-compare .img-floorplan .img-label,.villa-compare .img-views .img-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    font-size: 11pt;
    z-index: 100;
    color: #fff;
    background: rgba(88,67,35,.5);
    pointer-events: none;
}

.villa-compare .ss-slide-navigation {
    display: none;
}

.compare-item .count.bed,.compare-item .count.man {
    display: inline-block;
}

body.page-template-template_bedrooms #tablist1-panel4 {
    text-align: center;
}

body.page-template-template_bedrooms #tablist1-panel4 a {
    background: #776341;
    padding: 15px;
    color: #fff;
    vertical-align: middle;
    margin: 20px 0;
    font-family: Gotham,sans-serif;
    float: none !important;
}

#tablist1-panel4 a:hover {
    background: #f6e5cd;
    color: #111;
    text-decoration: none;
}

.post-wrapper .read-more-link,.single #content .entry a {
    text-decoration: underline;
}

.greentext {
    color: #2D8DAA;
    display: block;
}

.special-offer a {
    font-family: Gotham,sans-serif !important;
    background: 0 0 !important;
    color: #776341 !important;
    margin: 0 !important;
}

.special-offer h2 {
    padding: 10px 0;
    background: #C4B298;
    margin: -20px -20px 8px !important;
    color: #fff;
}

.special-offer .ss-parts-single-part {
    text-align: center;
    padding: 20px;
    background: #f6e5cd;
    border: 5px solid #F7F5F2;
    height: 400px;
    box-shadow: inset 0 0 0 1px #C4B298;
}

.special-offer .ss-parts-single-part ul {
    padding-left: 25px;
    text-align: left;
}

.special-offer .ss-parts-single-part ul li {
    margin: 10px 0;
}

.rates-funnel-content .tooltip {
    opacity: 1;
    width: 100%;
    position: relative;
    margin: 30px 0;
    cursor: help;
}

.tooltip-content {
    position: absolute;
    text-align: left;
    display: none;
    left: 0;
    right: 0;
    bottom: -150px;
    top: 0;
    width: 80%;
    height: 90%;
    margin: auto;
    background: rgba(0,0,0,.6);
    box-shadow: 5px 5px 0 0 rgba(0,0,0,.2);
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    cursor: help;
    z-index: 99999;
}

.tooltip-content a {
    color: #fff !important;
    padding: 0 !important;
    text-align: center;
    margin: 0 !important;
}

.tooltip-content:hover,.tooltip:hover+.tooltip-content {
    display: block;
}

.page-id-1209 #tablist1-panel2 {
    text-align: left;
}

.post-wrapper {
    padding: 0 15px;
}

.post-wrapper .post {
    margin: 0 0 50px;
    position: relative;
    padding: 0 0 10px;
}

.post-wrapper .post:after {
    content: "";
    clear: both;
    display: block;
}

.blog .post-wrapper {
    padding-left: 0;
}

.post-wrapper .post .post-thumbnail {
    margin-bottom: 30px;
    position: relative;
    min-height: 100px;
}

.post-wrapper .post .post-thumbnail img {
    width: 100%;
    height: auto;
}

.post-wrapper .post .entry-date {
    display: inline-block;
    padding: 0 20px;
    background-color: #fff;
    background: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#fff));
    background: -webkit-linear-gradient(top,#eeeee,#fff);
    background: -moz-linear-gradient(top,#eee,#fff);
    background: -ms-linear-gradient(top,#eee,#fff);
    background: -o-linear-gradient(top,#eee,#fff);
    height: 100px;
    font-size: 20px;
    color: #999;
    font-family: GothamBold;
    text-align: center;
}

.post-wrapper .post .entry-date .date {
    font-size: 30px;
    display: block;
}

.post-wrapper .the-author {
    display: inline-block;
    margin-bottom: 20px;
}

.post-wrapper .entry-title {
    margin: 15px 0;
    font-size: 27px;
    line-height: 1.5;
}

.post-wrapper .post .entry {
    padding-left: 20px;
}

.post-wrapper .read-more-link:before {
    content: "... ";
}

.post-wrapper .post .entry-author .the-author {
    display: block;
    font-style: italic;
    margin-top: 10px;
}

.entry-wrapper:after {
    content: "";
    clear: both;
    display: inline-table;
}

#page-sidebar .widget>ul {
    padding: 0;
    list-style: none;
}

.archive h1.entry-title,.blog h1.entry-title {
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 0;
}

#post-1057>.entry-title,body.page-template-template_reviews .panel-title,body.page-template-template_reviews .reviewList a {
    text-transform: capitalize;
}

#page-sidebar .widget h2.widget-title {
    background: #776341;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.not-mobile #page-sidebar>div {
    width: 105%;
    max-height: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.not-mobile #page-sidebar.scroll-active>div {
    max-height: 97vh;
}

.is-mobile #page-sidebar>div {
    width: 100%;
}

#page-sidebar .widget {
    background: #EEE;
    margin: 0;
    border: 0;
    padding: 15px;
}

#page-sidebar .widget ul li {
    border-bottom: 1px solid #CCC;
    padding: 10px;
}

.single-post .status-publish:after {
    content: "";
    clear: both;
    display: table;
}

.single-post .status-publish {
    margin: 25px 0;
}

.single-post .status-publish .col-md-9 {
    padding-right: 20px;
}

.single-post h1.entry-title {
    margin: 0;
    font-size: 25px;
    line-height: 1.5;
}

.single-post .post-meta {
    margin-bottom: 25px;
}

.single-post #post-409 {
    padding-top: 30px;
}

.single-post #respond label {
    display: inline-block;
    float: left;
    min-width: 100px;
}

.single-post #respond p.form-submit {
    padding-top: 15px;
}

.single-post #respond p.form-submit input {
    padding: 10px 20px;
    background: #776341;
    border: 0;
    color: #fff;
}

.single-post #respond p.form-submit input:hover {
    opacity: .5;
    -webkit-transition: .5s;
    transition: .5s;
}

.navigation ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navigation ul li {
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    width: 25px;
    height: 25px;
    background: #776341;
}

.navigation ul li:last-child {
    padding: 2px 10px;
    width: auto;
}

.navigation ul li a {
    color: #fff;
}

.navigation ul li.active,.navigation ul li:hover {
    background: #f6e5cd;
}

.navigation ul li.active a,.navigation ul li:hover a {
    color: #111;
    text-decoration: none;
}

#comments {
    padding: 30px 0;
}

#comment {
    width: 100%;
    max-width: 100%;
}

body.archive .general>.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#post-133 .ss-parts-single-part {
    min-height: 350px;
}

#post-133 .col-md-3 {
    width: 20%;
    padding: 0 35px;
}

#post-133 .ss-parts-image img {
    border: 1px solid;
    width: 120px;
    height: 170px;
    object-fit: cover;
    font-family: 'object-fit: cover;\A    \A    ';
}

.cat-review .panel-body ul li a,.panel-heading .panel-title a,.reviewList>a {
    font-family: Gotham,sans-serif !important;
}

.award-container {
    margin-bottom: 15px;
}

.award-container:after {
    display: table;
    content: " ";
    clear: both;
}

.award-container .award {
    float: left;
    width: 190px;
    text-align: center;
    border: 1px solid;
    padding: 10px 3px;
}

.award-container .award>br {
    display: none;
}

.award-container .award>img {
    width: 100%;
}

.traveler-choice-wrap {
    background: #579943;
    padding-bottom: 10px;
}

.award-container .award a,.award-container .award span {
    font-size: 11px;
    display: block;
    font-weight: 900;
}

.award-container .award.traveler-choice {
    border: none;
    padding: 0;
}

.award-container .award.traveler-choice a {
    display: block;
    background: #fff;
    margin: 0 10px;
    line-height: 30px;
}

#post-773 .entry-title,.pp_details .pp_social {
    display: none;
}

.reviewList {
    padding: 15px;
    background: #F7F5F2;
    border: 1px solid #ddd;
    border-bottom: 0;
    text-align: left;
}

.reviewList:last-child {
    border-bottom: 1px solid #ddd;
}

.reviewList>img {
    width: 120px;
    height: 80px;
    margin-right: 20px;
}

.reviewList>a {
    line-height: 5;
    font-size: 12pt;
}

.cat-review {
    padding-right: 20px;
}

.cat-review .panel-heading {
    background: 0 0;
}

.panel-heading .panel-title a {
    color: #776341;
    text-decoration: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0 solid transparent;
}

.panel-group .panel,.panel-group .panel+.panel {
    margin-top: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #776341 !important;
    box-shadow: 0 0 0 transparent;
}

.cat-review .panel-body ul {
    list-style: none;
    padding-left: 15px;
}

.cat-review .panel-body ul li a {
    font-size: 9pt;
}

.panel-group {
    box-shadow: 5px 0 5px rgba(0,0,0,.3);
}

body.page-template-template_reviews .wpcr3_item_name a {
    color: #776341 !important;
    font-family: Gotham,sans-serif !important;
}

body.page-template-template_reviews .wpcr3_review_item .wpcr3_review {
    border: 0;
    padding: 15px 0;
}

body.page-template-template_reviews .wpcr3_review_item .wpcr3_review:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

body.page-template-template_reviews .wpcr3_item_name:first-child {
    font-size: 25pt !important;
    font-style: normal;
    padding-top: 15px;
    background: #eee;
    padding-left: 15px;
}

body.page-template-template_reviews .wpcr3_aggregateRating {
    padding-bottom: 15px;
    background: #eee;
    padding-left: 15px;
    margin-bottom: 15px;
}

.wpcr3_review_title {
    margin: -10px 0;
    font-weight: 900;
    font-family: GothamBold,sans-serif;
}

.best-rates-container {
    padding: 20px;
    background: #F7F5F2;
    border: 1px solid #ddd;
    line-height: 2.2;
}

.floorplan-container>div,.floorplan-container>div>a {
    background: #fff;
    font-size: 20pt;
}

.vl-floorplan-layout {
    position: relative;
    overflow: auto;
}

.vl-floorplan-layout>div:first-child {
    margin: 0 auto;
    width: 950px !important;
    height: 364px !important;
    overflow: hidden;
}
.vl-floorplan-layout>div:first-child > canvas{
    height: auto !important;
}

.pp_description {
    display: none !important;
}

.floorplan-container {
    position: fixed;
    height: auto;
    margin: auto;
    max-width: 50%;
    display: inline-block;
    top: 0;
    right: 0;
    z-index: 1000;
}

.floorplan-container.zoomed {
    max-width: 100%;
}

.floorplan-container>div {
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    border: 15px solid #fff;
    display: none;
}

.floorplan-container>div .hover-close,.floorplan-container>div .resize {
    position: absolute;
    top: 10px;
    font-size: 20pt;
    color: #111;
    cursor: pointer;
    padding: 5px;
}

.floorplan-container>div.active-hover,.floorplan-container>div>img {
    display: block;
}

.floorplan-container>div>img.zoomed {
    width: 900px;
}

.floorplan-container>div .hover-close {
    right: 10px;
}

.floorplan-container>div .resize {
    right: 65px;
}

.floorplan-container>div .fa:hover {
    background: rgba(155,132,95,.5);
    border-radius: 5px;
}

body.page-id-37 #content {
    background: #EDEDED;
    padding-bottom: 35px;
}

body.page-id-37 #content>.container {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.35);
}

.booking-page {
    border: 1px solid #eee;
    margin: 35px 0;
}

#accept .accept .checkbox a,#cccvv,#ccmonth {
    margin-right: 10px;
}

.form-horizontal {
    padding: 20px;
    color: #444;
    border-right: 1px solid #eee;
}

body.page-id-37 legend {
    border: none;
    margin-bottom: 50px;
}

.form-horizontal .control-group {
    width: 100%;
    margin-top: 20px;
}

.form-horizontal .control-group:after {
    content: "";
    clear: both;
    display: table;
}

.form-horizontal .control-group .controls {
    float: left;
    width: 60%;
}

.form-horizontal .control-group .bookingfield,.form-horizontal .control-group .controls .span10,.form-horizontal .control-group input,.form-horizontal .control-group select,.form-horizontal .control-group textarea {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

#ccmonth {
    width: 47.6%;
}

#ccyear {
    width: 48.9%;
}

#billingpostalcode,#billingstate {
    width: 30%;
}

#creditcard .control-group:last-child .controls input {
    width: 100%;
}

.form-horizontal .control-group label {
    width: 30%;
    padding-right: 20px;
    float: left;
    font-size: 14px;
    font-weight: 100;
}

#creditcard .control-group:last-child label:nth-of-type(2) {
    width: 20%;
    padding-right: 10px;
}

#creditcard .control-group:last-child .controls {
    width: 20%;
}

#accept .alert-error,#stayinfo .alert-error {
    background: #F2DEDE;
    color: #BA4F48;
}

.property-info {
    color: #444;
    font-weight: 100;
}

.property-info>.row-fluid {
    padding: 20px;
}

#stayinfo .notes_2 {
    font-size: 17pt;
    font-weight: 600;
}

#details p:nth-of-type(5):after {
    content: "";
    clear: both;
    display: table;
}

.pagination-centered.pd {
    text-align: center;
}

.pagination-centered.pd h1 {
    font-family: GothamBold,sans-serif;
    color: #333;
}

.amount-bk h3,.property-info .headset,.property-info h5 {
    font-family: GothamBold;
}

.pagination-centered.pd a {
    color: #09C;
}

#msgs {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.msg-gray,.msg-yellow {
    margin-bottom: 20px;
    padding: 8px 14px;
}

.msg-yellow {
    background: #FEFDBC;
    border-radius: 4px;
    border: 1px solid #FFE599;
}

.msg-gray {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
}

#commentsform textarea,#lsform select,#questions-block li input {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.msg-gray>.checkin-checkout-wrapper {
    margin-bottom: 10px;
    margin-top: 0;
    vertical-align: middle;
}

.msg-gray>.checkin-checkout-wrapper>span {
    vertical-align: middle;
}

#discount {
    margin-bottom: 20px;
}

#discount label {
    width: 100%;
}

#discount label input {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 5px;
}

#accept .accept .checkbox {
    padding: 20px;
    width: 100%;
}

#accepptermscbx {
    margin-left: -20px;
    width: auto !important;
}

.btn-book-header {
    float: left;
    font-size: 11px;
    font-style: italic;
}

.btn-book-header .btn {
    font-style: normal;
    margin: 0 10px !important;
}

.btn-book-header .line1,.btn-book-header .line2 {
    display: table;
    width: 100%;
}

.amount-bk {
    float: left;
    background: #EEE;
    padding: 10px 30px;
    text-align: center;
    height: 73px;
}

.amount-bk h5 {
    font-size: 12px;
    margin: 0 0 7px;
}

.amount-bk h3 {
    margin: 0 !important;
    font-size: 30px;
}

.credit-icon {
    width: 60%;
    display: inline-block;
    text-align: right;
}

#post-1057,#questions-block .picker .picker__table tbody tr td,#revisedates,.picker .picker__wrap .picker__header {
    text-align: center;
}

.credit-icon>span {
    background-image: url(../img/credit-cards.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 36px;
    height: 24px;
    display: inline-block;
}

.creditcard-visa {
    background-position: bottom;
}

.creditcard-mastercard {
    background-position: 0 -222px;
}

.creditcard-discover {
    background-position: center;
}

#SSLcontent {
    visibility: hidden;
    height: 0;
}

body.page-id-1057 #content {
    background: #EDEDED;
    padding-bottom: 35px;
}

body.page-id-1057 #content>.container {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.35);
    float: none;
    padding: 0 15px;
}

#questions-block ul {
    padding: 0;
}

#questions-block li input {
    width: 100%;
    padding: 7px;
}

#questions-block .picker .picker__table thead {
    background: #C4B298;
    color: #fff;
}

#questions-block .picker .picker__table thead tr th {
    padding: 7px;
}

#questions-block #datesform:after,#questions-block #numberGuestsform:after {
    content: "";
    clear: both;
    display: table;
}

#questions-block #datesform .span6,#questions-block #numberGuestsform .span6 {
    width: 50%;
    float: left;
    padding-right: 10px;
}

#questions-block #datesform .span6:last-child,#questions-block #numberGuestsform .span6:last-child {
    padding-right: 0;
}

#commentsform textarea,#lsform select {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}

#commentsform textarea {
    min-height: 200px;
}

#page-content #btn-leadrequest {
    border: none;
    background: #C4B298;
    font-family: GothamBold,sans-serif;
}

.picker {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0,0,0,.5);
    z-index: 200;
    -webkit-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}

.picker.picker--opened {
    opacity: 1;
    pointer-events: auto;
}

.picker .picker__holder {
    display: inline-block;
    position: absolute;
    right: 50%;
    bottom: 50%;
    -ms-transform: translateX(50%) translateY(100%);
    -o-transform: translateX(50%) translateY(100%);
    -moz-transform: translateX(50%) translateY(100%);
    -webkit-transform: translateX(50%) translateY(100%);
    transform: translateX(50%) translateY(100%);
    background: #fff;
    border-radius: 5px;
    font-size: 18pt;
    box-shadow: 0 0 25px rgba(0,0,0,.5);
    -webkit-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}

.picker.picker--opened .picker__holder {
    -ms-transform: translateX(50%) translateY(50%);
    -o-transform: translateX(50%) translateY(50%);
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
}

.picker .picker__wrap .picker__header {
    position: relative;
    width: 100%;
}

.picker .picker__wrap .picker__header>div {
    display: inline-block;
}

.picker .picker__wrap .picker__header>.picker__year {
    font-size: 14pt;
    font-style: italic;
    padding: 16px 10px;
}

.picker .picker__wrap .picker__nav--prev {
    position: absolute;
    left: 0;
    font-size: 30pt;
    padding: 0 40px;
}

.picker .picker__wrap .picker__nav--prev:before {
    content: "\f0d9";
    font-family: FontAwesome;
}

.picker .picker__wrap .picker__nav--next {
    position: absolute;
    right: 0;
    font-size: 30pt;
    padding: 0 40px;
}

#slider,.row-fluid {
    position: relative;
}

.picker .picker__wrap .picker__nav--next:before {
    content: "\f0da";
    font-family: FontAwesome;
}

.picker .picker__wrap .picker__table thead {
    font-size: 13pt;
}

.picker .picker__wrap .picker__table td>div {
    color: #111;
}

.picker .picker__wrap .picker__table td>div,.picker .picker__wrap .picker__table th {
    padding: 3px 35px;
    text-align: center;
}

.picker .picker__wrap .picker__table th {
    background: #776341;
}

.picker .picker__wrap .picker__table td>.picker__day--selected {
    background: #C4B298;
    color: #fff;
}

.picker .picker__wrap .picker__table td>.picker__day--disabled {
    background: #f1f1f1;
    color: #ccc;
    cursor: initial;
}

.picker__footer>button {
    background: 0 0;
    box-shadow: 0;
    border: none;
    width: 33.33%;
    padding: 20px 30px;
}

.picker .picker__wrap .picker__nav--next:hover,.picker .picker__wrap .picker__nav--prev:hover,.picker .picker__wrap .picker__table td:hover,.picker__footer>button:hover {
    background: rgba(194,152,80,.3);
    cursor: pointer;
}

.row-fluid:after {
    content: "";
    clear: both;
    display: table;
}

#slider {
    margin-left: -15px;
    margin-right: -15px;
}

#slider .slides {
    padding: 0;
}

#slider .slides>li>div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 30%;
}

#slider .flex-caption,#slider .flex-direction-nav>li:first-child,#slider .flex-direction-nav>li:last-child,.flex-direction-nav {
    position: absolute;
    left: 0;
}

#slider .slides>li>div>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    font-family: 'object-fit: cover;\A    \A    ';
}

#slider .flex-caption {
    background: rgba(0,0,0,.7);
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    color: #fff;
    font-style: italic;
}

.flex-direction-nav {
    padding: 0;
    list-style: none;
    right: 0;
    bottom: 50%;
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.flex-direction-nav>li:first-child a,.flex-direction-nav>li:last-child a {
    color: #111;
    text-decoration: none;
}

.flex-direction-nav>li:first-child a:before,.flex-direction-nav>li:last-child a:before {
    content: "\f053";
    font-family: FontAwesome;
}

#carousel .flex-viewport>.slides>li>img,.gallery dt img,.videos-gal img {
    object-fit: cover;
    font-family: 'object-fit: cover;\A    \A    ';
}

.flex-direction-nav>li:last-child a:before {
    content: "\f054";
}

#slider .flex-direction-nav>li:last-child {
    left: auto;
    right: 0;
}

#slider .flex-direction-nav>li:first-child a,#slider .flex-direction-nav>li:last-child a {
    font-size: 30px;
    color: #fff;
}

#carousel .flex-direction-nav>li:first-child {
    float: left;
}

#carousel .flex-direction-nav>li:last-child {
    float: right;
}

#carousel {
    position: relative;
    padding: 30px 66px;
}

#carousel .flex-viewport {
    width: auto;
    overflow: hidden;
}

#carousel .flex-viewport>.slides {
    padding: 0;
}

#carousel .flex-viewport>.slides>li {
    width: 45px !important;
    height: 35px;
    position: relative;
    margin: 0 5px;
    opacity: .4;
    cursor: pointer;
}

#carousel .flex-viewport>.slides>li.flex-active-slide,#carousel .flex-viewport>.slides>li:hover {
    opacity: 1;
}

#carousel .flex-viewport>.slides>li>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#post-1057 #bapi-inquiryform {
    float: none;
}

.wsp-container .page-item-6 {
    display: none !important;
}

body.ss-modal-show {
    overflow-y: hidden;
}

.ss-modal-dialog {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,.3);
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    overflow-y: auto;
}

.ss-modal,.ss-modal-dialog.active {
    -webkit-transition: ease-in-out .5s;
}

.ss-modal img {
    width: 100%;
    display: block;
}

.ss-modal {
    position: absolute;
    z-index: 1026;
    width: 50%;
    background: #fff;
    padding: 20px;
    left: 0;
    right: 0;
    top: -50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transition: ease-in-out .5s;
}

.ss-modal-dialog.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1024;
    transition: ease-in-out .5s;
}

.ss-modal-dialog.active .ss-modal {
    top: 5%;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.ss-modal-dialog.active .ss-modal .btn,.ss-modal-dialog.active .ss-modal .button {
    min-width: 150px !important;
    display: inline-block;
    float: none !important;
    font-weight: 100;
    opacity: 1;
    margin-top: 30px;
}

#revisedates {
    display: block !important;
}

#revisedates .row-fluid {
    text-align: left;
}

#revisedates .row-fluid:after {
    content: "";
    clear: both;
    display: table;
}

#revisedates .span6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}

#revisedates label {
    width: 100%;
    font-weight: 100;
}

#revisedates input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    margin-bottom: 10px;
}

#vl_floorplan .btn,#vl_floorplan .button {
    float: right !important;
}

.page-id-64 .responsive-tabs__list__item {
    width: 16%;
}

.gallery-item {
    width: 25% !important;
    height: 200px;
    overflow: hidden;
    margin: 0 !important;
}

.gallery dt,.videos-gal {
    overflow: hidden;
    margin: .5px;
}

.gallery dt {
    position: relative;
    height: 200px;
    line-height: 10px;
}

.gallery dt a div,.gallery dt img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gallery dt a {
    display: block;
    overflow: hidden;
}

.gallery dt img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    border: none !important;
}

.gallery dt a div {
    background: #f5deb3;
    opacity: .6;
    z-index: 3;
    top: 100%;
}

.videos-gal {
    float: left;
    position: relative;
    width: 24.89%;
    height: 0;
    padding-bottom: 200px;
}

.videos-gal img,.videos-gal:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.videos-gal img {
    height: 100%;
    width: 100%;
    z-index: 2;
}

.videos-gal:before {
    content: "\f04b";
    font-family: FontAwesome;
    display: table;
    width: 40px;
    height: 40px;
    margin: auto;
    color: #fff;
    font-size: 40px;
    z-index: 5;
    opacity: .5;
}

.videos-gal:hover:before {
    opacity: 1;
    text-shadow: 0 0 15px rgba(0,0,0,.8);
}

form#loginform {
    max-width: 350px;
    padding: 20px 20px 50px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #9F8965;
}

form#loginform input[type=checkbox] {
    vertical-align: middle;
    margin: 0 5px 1px 0;
}

form#loginform input[type=password],form#loginform input[type=text] {
    width: 100%;
    border: 1px solid #9F8965;
    padding: 5px 10px;
}

form#loginform input[type=submit] {
    width: 100%;
    background: #9F8965;
    border: none;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
}

form#loginform label[for=user_login],form#loginform label[for=user_pass] {
    display: none;
}

form#loginform>p {
    margin: 12px 0;
    display: inline-block;
    width: 100%;
    min-height: 0;
    position: relative;
}

form#loginform>p.error {
    animation: error .3s;
}

form#loginform>p.error input {
    border: 1px solid red;
    background: rgba(255,0,0,.1);
}

@-o-keyframes error {
    0%,20%,40%,60%,80% {
        left: -5px;
    }

    10%,30%,50%,70%,90% {
        left: 5px;
    }

    100% {
        left: 0;
    }
}

@-moz-keyframes error {
    0%,20%,40%,60%,80% {
        left: -5px;
    }

    10%,30%,50%,70%,90% {
        left: 5px;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes error {
    0%,20%,40%,60%,80% {
        left: -5px;
    }

    10%,30%,50%,70%,90% {
        left: 5px;
    }

    100% {
        left: 0;
    }
}

@keyframes error {
    0%,20%,40%,60%,80% {
        left: -5px;
    }

    10%,30%,50%,70%,90% {
        left: 5px;
    }

    100% {
        left: 0;
    }
}

.page-id-213 #content .post-thumbnail-header {
    background-position: 0 34%;
}

.page-id-58 #content .post-thumbnail-header {
    background-position: 0 37%;
}

.page-id-347 #content .post-thumbnail-header {
    background-position: 0 40%;
}

.page-id-207 #content .post-thumbnail-header {
    background-position: 0 0;
}

.page-id-209 #content .post-thumbnail-header {
    background-position: 0 63%;
}

.page-id-79 #content .post-thumbnail-header {
    background-position: 0 18%;
}

body.page-template-template_bedrooms #page-content h3 {
    font-size: 13pt;
}

.availability-calendar .user-info .back {
    background: #776341;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
}

.availability-calendar .user-info .back:hover {
    background: #f6e5cd;
    color: #111;
}

#enquireModal .ss-modal-content h3 {
    float: left;
    margin-top: 10px;
}

#enquireModal #booking-agent:before {
    content: " ";
    display: table;
    clear: both;
}

#enquireModal .ss-modal-content .villa-title {
    display: block;
    width: 100%;
    text-align: center;
}

#enquireModal #booking-agent .form-group:first-child:after {
    display: table;
    content: " ";
    clear: both;
}

#enquireModal .arrivaldate,#enquireModal .departuredate {
    width: 49%;
    float: left;
}

#enquireModal .arrivaldate {
    margin-right: 2% !important;
}

#booking-agent-alert {
    margin-bottom: 0;
    padding: 0 15px;
}

#booking-agent .btn {
    padding: 0;
    height: 35px;
    line-height: 35px;
}

#booking-agent>input.btn {
    float: right !important;
    display: inline-block;
    width: 45%;
    margin: 0;
}

#booking-agent>button.btn {
    float: left !important;
    display: inline-block;
    width: 45%;
    margin: 0;
}

#post-773 a {
    text-decoration: none !important;
}

#post-773 a:hover {
    text-decoration: underline !important;
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item-has-children:after {
        right: 0;
    }

    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
        padding: 0 13px;
    }
}



@media(min-width:1000px) {
    .filter .button-category {
        margin-left: -20%;
        width: 120%;
    }
}


@media (min-width:1800px) {
    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
        padding: 0 35px;
    }

    .container,.custom-container {
        width: 1500px;
    }

    .currencyselector .dropdown-toggle {
        max-width: 104.77px !important;
    }

    .search-items .row .prices .button-sub {
        right: 25px;
        width: 41%;
        font-size: 12px;
    }

    .search-items .row .prices .button-sub:nth-of-type(2) {
        left: 25px;
    }
}

@media (max-width:768px) {
    .ss-slideshow {
        height: 100vw;
    }
}

#ss-social-media-widget>a,.calendar-legend>ul>li>span,.calendar-picker>div {
    vertical-align: middle;
    display: inline-block;
}

.calendar-legend>ul>li>span,.page-template-template_agent .cm--days.clearfix>div:not(.cm--next-month)>span {
    text-shadow: -1px -.6px .5px rgba(0,0,0,.4);
}

#footer-middle h2:after,#footer-top:after,#header-top:after,#packages #packages-part-2276>ul>li:before,.page-template-template_agent .form-group:after,.page-template-template_agent .post-villa:after {
    content: "";
}

#goog-gt-tt{
    display: none !important;
}
