/*
==============================================================================================
Nasser Maronie
Villakubu
SoftwareSeni 2016

contrib: Nasser, V edit
custom-new.css
==============================================================================================
*/

#header-top:after {
	clear: both;
	display: block;
}

.search-form .form-group {
	float: right !important;
	transition: all .35s,border-radius 0;
	width: 32px;
	height: 32px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
	border-radius: 25px;
	border: 1px solid #ccc;
	margin-bottom: 0;
}

.search-form .form-group input.form-control {
	padding-right: 20px;
	border: 0;
	background: 0 0;
	box-shadow: none;
	display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
	display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
	display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
	display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
	display: none;
}

.search-form .form-group.hover,.search-form .form-group:hover {
	width: 30%;
	border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	color: #776341;
	line-height: 34px;
	text-align: center;
	left: initial;
	font-size: 14px;
}


#section-home-top>.container {
	overflow: visible;
}

#ss_part_widget-15 {
	border: 1px solid #bbb;
	height: auto;
	padding: 9px;
	width: 25%;
	text-align: center;
	float: left;
	margin: 10px 0;
}



#ss_part_widget-15 .currencyselector .dropdown-toggle {
	border: none;
	position: relative;
}

#ss_part_widget-15 .currencyselector .dropdown-toggle>.caret {
	position: absolute;
	top: 35%;
	right: 0;
}

#ss_part_widget-15,.ss-villa-search-widget .input-wrapper input,.ss-villa-search-widget .search-dropdown,.ss-villa-search-widget input[type=submit] {
	border-radius: 3px;
	border-color: #bbb;
	max-height: 38px;
}

#ss_part_widget-15 .dropdown a i{
    margin-left: 10px;
}

/*search widget + breadcrumb*/

.ss-villa-search-widget {
	float: left;
	padding: 10px 0 10px 10px;
	text-align: left;
	width: 75%;
}

.ss-villa-search-widget .input-wrapper {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0 10px;
}

.ss-villa-search-widget .search-dropdown {
	margin-bottom: 0;
	float: left;
	width: 35%;
}

.ss-villa-search-widget input[type=submit] {
	float: left;
	width: 15%;
	padding: 10px;
}

.ss-villa-search-widget .input-wrapper input.error-validation {
	border-color: red;
	box-shadow: 0 0 5px 2px red;
	position: relative;
	animation: error .3s;
}

@-moz-keyframes error {
	0%,30%,60%,90% {
		left: -5px;
	}

	15%,45%,75% {
		left: 5px;
	}

	100% {
		left: 0;
	}
}

@-webkit-keyframes error {
	0%,30%,60%,90% {
		left: -5px;
	}

	15%,45%,75% {
		left: 5px;
	}

	100% {
		left: 0;
	}
}

@keyframes error {
	0%,30%,60%,90% {
		left: -5px;
	}

	15%,45%,75% {
		left: 5px;
	}

	100% {
		left: 0;
	}
}


.breadcrumb-outer-wrapper{
	background: #d9dde3;
	position: relative;
	z-index: 100;
}

.breadcrumb-outer-wrapper .post-thumbnail-no-header{
	height: 70px;
}


.breadcrumb-wrapper {
	position: relative;
}

body .breadcrumb-item-wrapper {
	padding: 10px;
	background: #e9ecf1;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.home-bedrooms .widget_ss_container_open_widget:first-child {
	padding-left: 0;
}

.home-bedrooms .widget_ss_container_open_widget:last-child {
	padding-right: 0;
}

#ss_parts_widget-2 {
	text-align: center;
	font-size: 0;
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-right: -10px;
}

#ss_parts_widget-2 .ss-parts-single-part {
	float: none;
	display: inline-block;
	text-align: left;
	padding: 10px;
}

#home-bottom #ss_part_widget-7 {
	padding: 0;
}

#home-bottom #home-review {
	padding-right: 0;
}

#footer {
	padding-top: 0;
}

#section-footer-top {
	background: #e9ecf1;
	border-top: 2px solid #fff;
}

#footer-top:after {
	clear: both;
	display: block;
}

#ss_social_media_widget-3>p,#wysija-2>.widget-title {
	display: none;
}

#wysija-footer-widget {
	padding: 10px 0;
}

#form-wysija-2 {
	display: -ms-flex;
	display: -o-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: 900;
}

#wysija-2 {
	text-align: left;
	color: #6d6454;
}

#form-wysija-2 .wysija-paragraph {
	position: relative;
	padding: 0 5px;
	display: inline-block;
}

#wysija-2 .wysija-input {
	margin-top: 0;
	text-align: left;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #C4B298;
}

#wysija-2 .wysija-submit {
	display: inline-block;
	padding: 8px;
	border-radius: 3px;
	background: #C4B298;
	color: #fff;
	width: 10%;
}

#wysija-2 font>.wysija-submit,.formError .formErrorContent {
	width: 100%;
}

.form-validation-field-0formError.parentFormform-wysija-2.formError {
	top: 0 !important;
	left: 0 !important;
	width: 100%;
}

#footer-middle .ss-menu-container h2,#footer-middle h2 {
	position: relative;
	font-size: 20px;
	padding-bottom: 10px;
}

#footer-middle h2:after {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 35%;
	border-bottom: 1px solid #fff;
}

#footer-address p {
	color: #776341;
}

#ss-social-media-widget {
	padding: 10px 0;
}

#ss-social-media-widget>br {
	display: none;
}

#ss-social-media-widget>a>img {
	margin-right: 10px;
}

#ss-social-media-widget>a:last-child>img {
	margin-right: 0;
}

.alert-success {
	background-color: #ededed;
	color: #6d6454;
	border: none;
	text-align: center;
}

.calendar-picker {
	text-align: center;
	background: #ededed !important;
	margin: 0 auto 15px;
}

.page-template-template_agent .lx-header-property-date .month,.page-template-template_agent .lx-header-property-name {
	background: #C4B298;
}

.page-template-template_agent .lx-header-property-date .day{
	opacity: 0;
}

.calendar-picker>.calendar-picker-dropdown {
	padding: 8px;
	color: #777;
}

.calendar-picker>.calendar-picker-dropdown>svg {
	float: right;
	margin-right: 20px;
}

.calendar-picker>.villa-filter>form>select {
	padding: 8.5px 1.625rem 8.5px 8.5px;
}

.page-template-template_agent #calendar {
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.page-template-template_agent .lx-calendar .lx-label {
	opacity: 0;
}

.availability-calendar .container .luxelet-calendar {
	min-width: 900px;
	max-width: 960px;
	margin: 0 auto;
}

.page-template-template_agent .lx-header-property-num,.page-template-template_agent .lx-property .lx-num {
	width: 10%;
	float: left;
	position: relative;
}

.page-template-template_agent .lx-property .lx-num {
	color: #111;
	font-weight: 900;
	font-size: 11px;
	line-height: 2;
	padding-bottom: 2.25%;
}

.page-template-template_agent .lx-property .lx-num span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-template-template_agent .lx-header-property-num {
	padding: 12px 10px;
	line-height: 1;
	max-height: 37px;
	overflow: hidden;
	background: #C4B298;
	color: #fff;
}

.lx-property .lx-num-inner {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 0;
	height: 100%;
}

.page-template-template_agent .lx-header-property-name,.page-template-template_agent .lx-property .lx-name,.page-template-template_agent .lx-property .lx-occ {
	width: 20%;
}

.page-template-template_agent .lx-property .lx-name {
	padding-bottom: 2.25%;
}

.page-template-template_agent .lx-header-property-date,.page-template-template_agent .lx-property .lx-calendar {
	width: 70%;
}

.page-template-template_agent .lx-header-property-date .day,.page-template-template_agent .lx-property,.page-template-template_agent .lx-property .lx-name {
	background: #f6e5cd;
	color: #666;
}

.page-template-template_agent .lx-property:nth-child(even) .lx-name,.page-template-template_agent .lx-property:nth-child(even) .lx-num {
	background: #C4B298;
	color: #fff;
}

.page-template-template_agent .lx-property .lx-name:hover {
	background: #fff;
}

.page-template-template_agent .lx-property .lx-name:hover a {
	color: #111 !important;
}

.calendar-legend>ul>.type-available>span,.page-template-template_agent .lx-property .day,.page-template-template_agent .lx-property:nth-child(even) .day {
	background: #67c524;
}

.page-template-template_agent .lx-property .lx-calendar .day.first-day:before,.page-template-template_agent .lx-property:nth-child(even) .lx-calendar .day.first-day:before {
	background-image: url(../img/first.png);
}

.page-template-template_agent .lx-property .lx-calendar .day.last-day:before,.page-template-template_agent .lx-property:nth-child(even) .lx-calendar .day.last-day:before {
	background-image: url(../img/last.png);
}

.calendar-legend>ul>.type-Booked>span,.lx-calendar .day.last-day,.page-template-template_agent .lx-calendar .confirmed.first-day.last-day:before,.page-template-template_agent .lx-calendar .day.confirmed,.page-template-template_agent .lx-calendar .day.first-day {
	background: #ec6533;
}

.calendar-legend>ul>.type-pending>span,.page-template-template_agent .cm--day.day.cm--event.checkout.pending_by_owner.booked.checkin,.page-template-template_agent .cm--days.clearfix .cm--day.pending:not(.checkin),.page-template-template_agent .cm--days.clearfix .cm--day.pending:not(.checkout),.page-template-template_agent .cm--days.clearfix .cm--day.pending_by_owner:not(.checkin),.page-template-template_agent .cm--days.clearfix .cm--day.pending_by_owner:not(.checkout),.page-template-template_agent .lx-calendar .day.awaiting-balance {
	background: #fee101;
}

.page-template-template_agent .availability-calendar>.container {
	width: 100%;
	padding: 15px;
	background-color: #ededed;
}

.page-template-template_agent .lx-calendar .day.completed {
	background: #069764;
}

.page-template-template_agent .lx-property .lx-calendar .clndr>div {
	border-right: 1px solid #C4B298;
}

.lx-calendar .day .day-inner{
	text-align: center;
}
.lx-calendar .day .day-inner span {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50%;
	transform: translateY(50%);
	font-weight: 100;
	color: #fff;
	margin: auto;
}

.page-template-template_agent .lx-property .lx-name-inner>span>a {
	font-family: Gotham,sans-serif !important;
	text-decoration: none;
}

.page-template-template_agent .lx-property:nth-of-type(odd) .lx-name-inner>span>a {
	color: #fff;
}

.page-template-template_agent .lx-property:nth-of-type(even) .lx-name-inner>span>a {
	color: #111;
}

.page-template-template_agent .lx-property .lx-name-inner>span>a:active,.page-template-template_agent .lx-property .lx-name-inner>span>a:focus,.page-template-template_agent .lx-property .lx-name-inner>span>a:hover {
	color: #776341 !important;
	text-decoration: none;
}

.page-template-template_agent .lx-name .lx-name-inner>span>a>span {
	left: 100px;
	text-align: center;
	position: absolute;
	background: #fff5d4;
	z-index: 9999;
	padding: 15px 15px 30px;
	color: #111;
	border: 1px solid #9b845e;
	box-shadow: 5px 5px 15px rgba(0,0,0,.25);
	line-height: 2.5;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: linear .15s;
	transition: linear .15s;
}

.page-template-template_agent .lx-name:hover .lx-name-inner>span>a>span {
	opacity: 1;
	pointer-events: auto;
}

.calendar-legend {
	margin-top: 20px;
	float: left;
}

.calendar-legend>ul {
	padding: 0;
	list-style: none;
}

.calendar-legend>ul>li {
	display: inline-block;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 10px;
}

.calendar-legend>ul>li>span {
	width: 37px;
	height: 37px;
	line-height: 35px;
	color: #fff;
	margin-right: 10px;
	display: inline-block;
}

.page-template-template_agent #calendar-legend {
	display: none;
}

#agentInquiry {
	float: right;
	margin: 20px 0 0 !important;
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
	background: 0 0;
	border: none;
}

.ui-datepicker select.ui-datepicker-month>option,.ui-datepicker select.ui-datepicker-year>option {
	color: #111;
}

.page-template-template_agent .cm--days.clearfix>div,.page-template-template_agent .cm--header-day {
	width: 49px;
	height: 47px;
	line-height: 40px;
	margin: 0;
	border: 1px solid #ccc;
}

.page-template-template_agent .cm--days.clearfix .cm--last-month>span {
	text-shadow: none !important;
}

.page-template-template_agent .cm--day:not(.cm--next-month),.post-villa .calendar-legend>ul>.type-available>span {
	background-color: #00d726;
	color: #fff;
}

.page-template-template_agent .cm--last-month,.page-template-template_agent .cm--next-month {
	background: #fff;
}

.page-template-template_agent .cm--day.day.cm--event.checkout.booked_by_owner.booked.checkin,.page-template-template_agent .cm--days.clearfix .cm--day.booked:not(.checkin),.page-template-template_agent .cm--days.clearfix .cm--day.booked:not(.checkout),.page-template-template_agent .cm--days.clearfix .cm--day.booked_by_owner:not(.checkin),.page-template-template_agent .cm--days.clearfix .cm--day.booked_by_owner:not(.checkout) {
	background-color: #f74;
}

.page-template-template_agent .cm--day.checkout,.page-template-template_agent .type.booked.checkout:before {
	background-position: 49px 0;
}

.page-template-template_agent .post-villa {
	padding: 15px;
	max-width: 1060px;
	margin: 50px auto;
	background: #F7F5F2;
}

.page-template-template_agent .post-villa:after {
	clear: both;
	display: block;
}

.page-template-template_agent .post-villa,.page-template-template_agent .post-villa .villa-calendar {
	text-align: center;
}

.page-template-template_agent .post-villa .villa-calendar,.page-template-template_agent .post-villa .villa-calendar .clndr {
	display: inline-block;
}

.page-template-template_agent .post-villa .villa-calendar {
	width: 100%;
	margin-bottom: 10px;
	overflow: auto;
}

.page-template-template_agent .post-villa .villa-calendar .clndr {
	min-width: 1030px;
	width: 100%;
}

.page-template-template_agent .post-villa .villa-calendar .cm--wrapper {
	max-width: none;
	background: #fff;
}

.page-template-template_agent .post-villa .villa-calendar .clndr .cm--content {
	background: none;
	padding: 0px;
	width: 1030px;
	margin: 0 auto;
}

.page-template-template_agent .cm--month-block {
	width: 343px;
	padding: 0px;
}

.page-template-template_agent .post-villa>button {
	float: right;
	margin: 0 !important;
	background: #776341;
}

.page-template-template_agent .post-villa>.calendar-legend {
	float: left;
	margin-top: 0;
}

.cm-navigation-next,.cm-navigation-prev {
	cursor: pointer;
}

.availability-calendar .legend {
	display: none;
}

.page-template-template_agent .form-group:after {
	clear: both;
	display: block;
}

.page-template-template_agent .cm--header {
	background: none;
	width: 1030px;
	margin: 0 auto;
}

.page-template-template_agent .cm--header-month,.page-template-template_agent .cm-navigation-next,.page-template-template_agent .cm-navigation-prev {
	color: #6d6454;
}

input[name=first_name_].form-control,input[name=last_name_].form-control {
	float: left;
	width: 49%;
}

input[name=first_name_].form-control {
	margin-right: 2%;
}

.villa-namepull-left pre {
	background: 0 0;
	border: none;
	color: inherit;
	display: inline-block;
	overflow: visible;
	float: right;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: 0;
}

.villa-namepull-left a {
	display: block;
	font-size: 12pt;
}

.btn-compare,.page-template-template_search_villas .ss-villa-search-widget {
	display: inline-block;
}

.btn-compare {
	width: 49%;
	float: left;
	margin-bottom: 10px !important;
}

.btn-compare:nth-of-type(1) {
	margin-right: 2% !important;
}

#archivements .award-container,#packages #packages-part-2276>ul {
	align-content: space-between;
	overflow: hidden;
}

#post-1209 .entry {
	padding: 20px;
	border: 1px solid #ddd;
}

#packages .ss-parts-single-part>h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

#packages p {
	margin: 0;
}

#packages #packages-part-2276>ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	height: 900px;
}

#packages #packages-part-2276>ul>li {
	padding: 17px 30px 17px 35px;
	background: #f7f5f5;
	border-left: 5px solid #C4B298;
	position: relative;
	overflow: hidden;
	width: 100%;
}

#packages #packages-part-2276>ul>li:last-child {
	margin-bottom: 0;
}

#packages #packages-part-2276>ul>li:before {
	position: absolute;
	width: 15px;
	height: 100%;
	background: #ddd;
	left: 0;
	top: 0;
}

#packages .ss-parts-single-part:nth-of-type(odd) {
	padding-right: 25px;
	margin-bottom: 50px;
}

#packages .ss-parts-single-part:nth-of-type(even) {
	padding-left: 25px;
	margin-bottom: 50px;
}

#packages .special-wrap {
	background: #f7f5f5;
	padding: 15px 35px;
	height: 900px;
	overflow: hidden;
	line-height: 2;
	position: relative;
}

#packages .special-wrap>h3 {
	line-height: 1.5;
}

#packages .special-wrap>.special-wrap-footer {
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 35px;
}

#packages .special-wrap>.special-wrap-img {
	margin: 35px -35px;
	position: relative;
	overflow: hidden;
	height: 30%;
}

#packages .special-wrap>.special-wrap-img>img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#packages .special-wrap .btn {
	width: 60%;
	max-width: none;
	display: block;
	margin: 5px auto;
	border-radius: 5px;
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

#packages .special-wrap .btn:after {
	content: '';
	display: block;
	position: absolute;
	background: rgba(0,0,0,.06);
	width: 100%;
	height: 50%;
	bottom: 0;
	left: 0;
}

#packages .special-wrap ul {
	padding-left: 15px;
}

#archivements .special-wrap>p {
	display: none;
}

#archivements .special-wrap {
	background: #f7f5f5;
	padding: 15px;
	margin-bottom: 50px;
	border: 1px solid #dedede;
	position: relative;
}

#archivements .special-wrap:before {
	content: "";
	width: 1px;
	position: absolute;
	background: #dedede;
	display: inline-block;
	height: 100%;
	top: 0;
	left: 50%;
}

#archivements .award-container {
	display: flex;
	flex-flow: row wrap;
	height: 400px;
}

#archivements .award-container>.award {
	flex-basis: 30%;
	flex-grow: 2;
	margin: 0 3px;
	background: #fff;
}

.traveler-choice {
	padding: 0 15px;
}

#archivements .traveler-choice-wrap {
	background-color: #fff;
	border: 3px solid #579943;
	text-align: center;
}

#archivements .traveler-choice-wrap img {
	width: 100%;
	margin-bottom: 10px;
}

.emerald-wrapper {
	display: -ms-flex;
	display: -o-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	align-content: space-between;
	overflow: hidden;
}

.emerald-wrapper>div {
	width: 100%;
}

.emerald-wrapper>div>img {
	width: 100%;
	border: 10px solid #fff;
}

.special-review-section {
	background: #f7f5f5;
	padding: 50px 0;
}

#home-review {
	padding: 0 15px;
}

#ss_wpcr3_custom-2,#ss_wpcr3_custom-3 {
	background: #f7f5f5;
	display: block;
	height: 400px;
	overflow: hidden;
	padding: 15px;
}

.review-box {
	position: relative;
	width: 105%;
	overflow-x: hidden;
	height: 100%;
}

.review-box .review-row-item {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	text-align: left;
	padding: 20px 0;
}

.review-box .review-space {
	display: inline-block;
	width: 4%;
	vertical-align: top;
}

.review-row-item .review-item-box {
	display: block;
	width: 100%;
}

.review-row-item .review-item-box .review-profile {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	font-family: Oswald,sans-serif;
	font-size: 10px;
	text-align: center;
	color: #3d3733;
	float: left;
}

.review-row-item .review-item-box .review-profile span {
	font-size: 12px;
}

.review-row-item .review-item-box .review-text {
	display: inline-block;
	width: 70%;
	vertical-align: top;
	text-align: left;
	margin-left: 5%;
	font-size: 13px;
	font-style: italic;
	color: #706c69;
	line-height: 16px;
	float: left;
}

.review-row-item .review-item-box .review-avatar {
	display: block;
	padding: 3px;
	border: 2px solid #ededed;
	border-radius: 100%;
}

.review-row-item .review-item-box h3.review-title {
	font-size: 18px;
	font-family: Oswald,sans-serif;
	font-style: italic;
	color: #9f8c64;
}

.review-item-box .review-avatar img.avatar {
	padding: 0;
	border: none;
	border-radius: 100%;
}

.review-item-box .review-profile img.profile-level {
	width: 15px;
	height: 15px;
	margin-left: 5px;
}

.villa-thumbnails:after {
	content: "";
	clear: both;
	display: block;
}

.villa-thumbnails {
	margin: 0 -15px 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	font-size: 0;
}

.villa-thumbnails>div {
	width: 20%;
	padding: 0 15px;
	display: inline-block;
}

.villa-thumbnails>div>.ss-part-image {
	position: relative;
	height: 150px;
}

.villa-thumbnails>div>.ss-part-image>a {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
}

.villa-thumbnails>div>.ss-part-image>a>img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.villa-thumbnails>div>a>h2 {
	font-size: 15px;
	text-transform: capitalize;
}

.button.full {
	left: 0 !important;
	right: 0 !important;
	width: 86.5% !important;
	font-size: 13px !important;
}

.single-villa .button.full {
	width: 100% !important;
}

.enquiry-form>fieldset {
	display: block;
	background-color: #f2f2f2;
	padding: 20px;
	font-size: 14px;
	margin-bottom: 20px;
	text-align: left;
}

.enquiry-form .form-group>.form-control-wrapper input,.enquiry-form .form-group>.form-control-wrapper select,.enquiry-form .form-group>.form-control-wrapper textarea {
	border: 1px solid #C4B298;
	border-radius: 0;
}

.enquiry-form .form-group:after,.enquiry-form .form-group>.form-control-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.enquiry-form .form-group>.form-label {
	width: 15%;
	float: left;
	display: inline-block;
	min-height: 1px;
	line-height: 34px;
}

.enquiry-form .form-group>.form-control-wrapper {
	width: 85%;
	float: left;
}

.enquiry-form .form-group>.form-control-wrapper input,.enquiry-form .form-group>.form-control-wrapper select {
	width: 30%;
	float: left;
}

.enquiry-form .form-group>.form-control-wrapper input[type=checkbox] {
	height: auto;
	box-shadow: none;
	width: 15px;
}

.enquiry-form .form-group>.form-control-wrapper input {
	margin-right: 2%;
}

.enquiry-form .form-group>.form-control-wrapper span {
	float: left;
	margin-right: 15px;
	width: 92.5%;
	margin-bottom: 15px;
}

.enquiry-form .form-group>.form-control-wrapper span>span {
	width: auto;
}

.enquiry-form .form-group>.form-control-wrapper span:nth-last-of-type(1) {
	margin-bottom: 0;
}

.enquiry-form .form-group>.form-control-wrapper select[name=adult_],.enquiry-form .form-group>.form-control-wrapper select[name=children_],.enquiry-form .form-group>.form-control-wrapper select[name=infant_] {
	width: 8%;
	margin-right: 5px;
}

.enquiry-form .form-group>.form-control-wrapper select[name=adult_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=children_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=infant_]+span {
	width: auto;
	line-height: 34px;
	margin-bottom: 0;
}

#country-phone .form-group:nth-of-type(1)>.form-control-wrapper select {
	width: 45%;
}

#special-request .form-group>.form-label {
	float: none;
	width: 100%;
	margin-bottom: 15px;
	display: block;
}

#special-request .form-group>.form-control-wrapper textarea {
	height: 150px;
}

.enquiry-form>input[type=submit] {
	width: auto;
	padding: 0 20px;
}

body.single-wysijap #content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.search-results .entry {
	border: none !important;
	padding: 0 10px !important;
}

.search-results .entry-title {
	margin: 0 0 15px !important;
	padding: 0 10px;
}

.search-results #page-content>div {
	padding: 25px 15px;
	text-align: left;
	position: relative;
}

.search-results #page-content>div>.row>.col-sm-12 {
	max-width: 83.33333333%;
	float: right;
}

.search-results #page-content>div:nth-of-type(odd) {
	background: #efefef;
}

.search-results #page-content .post-thumbnail {
	padding: 0 10px;
}

.search-results #page-content .post-thumbnail img {
	width: 100%;
}

.filter-parent .hidden-search-container {
	position: relative;
	z-index: 99999;
}

.rewrited-page .breadcrumb-item-wrapper .container>i:nth-of-type(2),.rewrited-page .breadcrumb-item-wrapper .container>span:nth-of-type(2),.rewrited-page .breadcrumb-wrapper .container>i:nth-of-type(2),.rewrited-page .breadcrumb-wrapper .container>span:nth-of-type(2) {
	display: none;
}

#villa-2299 .villa-detail>p {
	margin-top: 15px;
}

#postid-773 .search-items .row .details .villa-detail {
	max-height: 120px;
}

#post-1057 #cccvv {
	width: auto;
	margin-right: 10px;
	margin-bottom: 0;
}

.page-id-1057 .modal-body>.close {
	float: none;
	position: absolute;
	z-index: 9999;
	right: 20px;
	color: #fff;
	opacity: 1;
	font-size: 40px;
}

#post-1057>.entry-title {
	text-align: left;
	font-family: Gotham,sans-serif;
	font-weight: 100;
	color: #6d6454;
}

#post-1057 #charges>h5,#post-1057 #discount>h5,#post-1057 .entry>h1 {
	font-weight: 900;
	font-family: GothamBold,sans-serif;
}

#post-1057 .entry>h1 {
	color: #333;
	text-transform: capitalize;
}

#post-1057 .entry>.location {
	font-size: 14px;
	margin: 0 0 14px;
}

#post-1057 .entry>img {
	display: block;
	margin: 0 auto;
}

#post-1057 .entry .booking-page>div[class*=col-] {
	padding: 20px;
	text-align: left;
}

#post-1057 .entry .booking-page>.col-md-4 {
	border-left: 1px solid #eee;
}

#post-1057 .entry .booking-page>.col-md-8 {
	text-align: center !important;
}

#post-1057 #bapi-inquiryform {
	padding: 0;
}

#post-1057 #questions-block li {
	margin-top: 20px;
}

#post-1057 #questions-block li:after {
	content: "";
	clear: both;
	display: block;
}

#post-1057 #questions-block li>label {
	width: 30%;
	text-align: right;
	padding-right: 15px;
	font-size: 14px;
	padding-top: 7px;
	float: left;
	font-weight: 100;
	color: #444;
}

#post-1057 #questions-block li>input,#post-1057 #questions-block li>textarea {
	width: 60%;
	float: left;
	box-shadow: none;
}

#post-1057 #questions-block #datesform .span6,#post-1057 #questions-block #numberGuestsform .span6 {
	width: 50%;
}

#post-1057 #questions-block #datesform .span6>label,#post-1057 #questions-block #numberGuestsform .span6>label {
	width: 60%;
	text-align: right;
	font-size: 14px;
	padding-right: 15px;
	padding-top: 7px;
	float: left;
	font-weight: 100;
	color: #444;
}

#post-1057 #questions-block #datesform .span6:nth-of-type(2)>input,#post-1057 #questions-block #datesform .span6:nth-of-type(2)>label,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>input,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>label {
	width: 40%;
}

#post-1057 #questions-block #datesform .span6>input,#post-1057 #questions-block #numberGuestsform .span6>input {
	width: 40%;
	float: left;
	box-shadow: none;
}

#post-1057 #questions-block #datesform .span6,#questions-block #numberGuestsform .span6 {
	padding-right: 0;
}

#post-1057 #questions-block legend {
	text-align: left;
	border-bottom: none;
}

/*rates page*/

.postid-2975 #content {
	overflow: hidden;
	overflow-x: auto;
}

.postid-2975 #content table {
	min-width: 960px;
}

.rates-table td a.button{
	display: inline-block;
}


/* bedroom - search result template - popup detail*/
.page-template-template_search_villas .ss-modal{
	padding: 45px;
	max-width: 40%;
}
.modalHeader h3{
	text-align: left;
	color: #111;
	font-size: 24px;
}
.modalHeader .modal-close{
	position: absolute;
	top: 10px;
	font-size: 13px;
	padding: 5px 10px;
	background: #776341;
	opacity: 1;
	color: #fff;
	right: 10px;
	-webkit-transition: ease-out .3s;
	transition: ease-out .3s;
}
.modalHeader .modal-close:hover{
	color: #111;
}
.modalContent{
	font-size: 12px;
	color: #111;
}
.modalContent .popup-section-title{
	text-align: left;
	font-size: 16px;
	color: #111;
	font-weight: bolder;
	margin: 15px 0;
  border-bottom: 2px solid rgb(213, 213, 213);
}

.popup-item-wrapper:after{
	content:"";
	clear:both;
	display: block;
}
.popup-item-price{
	float: right;
	font-weight: bold;
}

.popup-item-name{
	float: left;
}
.popup-item-name del{
	font-size: 11px;
	opacity: 0.7;
}
.page-template-template_search_villas .ss-modal-dialog.active .modalFooter .modal-close{
	background: #776341;
	border-radius: 5px;
	padding: 7px 15px;
	min-width: 0 !important;
	font-size: 12px;
}


@media (max-width:1440px) {
	.search-form .form-group {
		margin-right: -15px;
	}
}

@media (max-width:1213px) {
	.villa-namepull-left a {
		font-size: 10pt;
	}
}


@media (max-width:1005px) {
	.name .villa-namepull-left pre {
		float: none;
		padding: 10px 0 0;
		display: block;
	}
}

@media (max-width: 1201px){
    .ss-villa-search-widget .search-dropdown {
        width: 40%;
    }

    .ss-villa-search-widget input[type=submit] {
        width: 14%;
    }

    .ss-villa-search-widget .input-wrapper {
        width: 23%;
    }

    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link font {
        font-size: 10px;
    }

    #ss_part_widget-15 .dropdown a {
        font-size: 10px;
    }
}
