/*
==============================================================================================
Nasser Maronie
Villakubu
SoftwareSeni 2016

contrib: Nasser, V edit
mobile-new.css
==============================================================================================*/

@media (max-width:1025px) {
	/*a*/

	#packages .special-wrap {
		line-height: 1.5;
	}

	#packages .ss-parts-single-part>h2 {
		font-size: 24px;
	}

	#post-1057>.entry-title {
		text-align: center;
	}

	#post-1057 #questions-block li>label {
		width: 20%;
	}

	#post-1057 #questions-block li>input,#post-1057 #questions-block li>textarea {
		width: 70%;
	}

	#post-1057 #questions-block #datesform .span6,#post-1057 #questions-block #datesform .span6:nth-of-type(2),#post-1057 #questions-block #numberGuestsform .span6,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2) {
		width: 50%;
	}

	#post-1057 #questions-block #datesform .span6>label,#post-1057 #questions-block #numberGuestsform .span6>label {
		width: 40%;
	}

	#post-1057 #questions-block #datesform .span6:nth-of-type(2)>input,#post-1057 #questions-block #datesform .span6>input,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>input,#post-1057 #questions-block #numberGuestsform .span6>input {
		width: 50%;
	}

	#post-1057 #questions-block #datesform .span6:nth-of-type(2)>label,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>label {
		width: 30%;
	}

	/* bedroom - search result template - popup detail*/
	.page-template-template_search_villas .ss-modal{
		padding: 15px;
		max-width: 100%;
	}
}

@media (max-width:991px) {
	#footer-middle .widget_ss_part_widget h2,.page-template-template_agent .lx-name:hover .lx-name-inner>span>a>span {
		display: none;
	}

	.sticky-search-container {
		padding-top: 20px;
	}

	#ss_part_widget-15,.ss-villa-search-widget,.ss-villa-search-widget .input-wrapper,.ss-villa-search-widget .search-dropdown {
		text-align: center;
		width: 100%;
	}

	#ss_part_widget-15 {
		margin: 10px 0;
	}

	.ss-villa-search-widget {
		padding: 0;
	}

	.ss-villa-search-widget .input-wrapper {
		padding: 10px 0;
		margin: 0 !important;
	}

	.ss-villa-search-widget input {
		margin: 0;
	}

	.ss-villa-search-widget .search-dropdown {
		padding: 0px;
		margin: 10px 0px;
	}

	.home-bedrooms .widget_ss_container_open_widget {
		padding: 20px 0;
	}

	#home-bottom #home-review,#packages .ss-parts-single-part:nth-of-type(even),#packages .ss-parts-single-part:nth-of-type(odd),.traveler-choice {
		padding: 0;
	}

	.ss-villa-search-widget input[type=submit] {
		width: 30%;
		float: none;
	}

	#footer-middle .widget_ss_part_widget {
		text-align: center;
	}

	.page-template-template_agent .availability-calendar>.container {
		overflow: auto;
	}

	.page-template-template_agent .lx-property .lx-name-inner>span>a {
		pointer-events: none;
	}

	.villa-namepull-left a {
		font-size: 15px;
	}

	.single-villa .villa-namepull-left {
		font-size: 19pt;
	}

	.villa-thumbnails>div {
		width: 50%;
		text-align: center;
	}

	#packages .special-wrap {
		padding: 15px;
	}

	#archivements .award-container,#packages #packages-part-2276>ul,#packages .special-wrap,.emerald-wrapper,.emerald-wrapper>div {
		height: auto;
	}

	#packages #packages-part-2276>ul>li,.emerald-wrapper>div {
		margin-bottom: 10px;
	}

	#packages .special-wrap>.special-wrap-img {
		height: 300px;
	}

	#packages .special-wrap>.special-wrap-footer {
		position: static;
		margin: 20px auto;
	}

	#archivements .award-container>.award {
		margin-bottom: 5px;
	}

	#ss_wpcr3_custom-2 {
		height: 550px;
	}

	.review-box .review-row-item {
		width: 100%;
		margin-bottom: 20px;
	}

	.traveler-choice {
		width: 30%;
		margin: 0 auto 20px;
	}

	.enquiry-form .form-group>.form-label {
		width: 100%;
		margin-bottom: 15px;
	}

	.enquiry-form .form-group>.form-control-wrapper select[name=adult_],.enquiry-form .form-group>.form-control-wrapper select[name=children_],.enquiry-form .form-group>.form-control-wrapper select[name=infant_] {
		width: 12%;
	}

	.enquiry-form .form-group>.form-control-wrapper select[name=adult_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=children_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=infant_]+span {
		width: 80%;
		margin-bottom: 10px;
	}

	#input-villa>.form-control-wrapper select,.enquiry-form .form-group>.form-control-wrapper input:not([type=checkbox]) {
		width: 45%;
		float: none;
		margin-bottom: 15px;
		display: block;
	}

	#country-phone .form-group:nth-of-type(1)>.form-control-wrapper select {
		width: 65%;
	}

	.enquiry-form .form-group>.form-control-wrapper {
		width: 100%;
	}

	#post-1057 .entry>.col-md-4 {
		border-left: none;
	}
	#custom-select-step.sub-menu{
		left: 25px !important;
	}



}

@media (max-width:767px) {
	#ss_part_widget-15 .dropdown a {
	    font-size: 12px;
	}
	.ss-villa-search-widget input[type=submit] {
		width: 50%;
	}

	.villa-thumbnails>div,input[name=first_name_].form-control,input[name=last_name_].form-control {
		width: 100%;
	}

	#form-wysija-2,#form-wysija-2 .wysija-paragraph,#wysija-2 .wysija-submit {
		display: block;
		width: 100%;
	}

	#form-wysija-2 .wysija-paragraph {
		padding: 10px 0;
	}

	.page-template-template_agent .post-villa>.calendar-legend,.page-template-template_agent .post-villa>button {
		float: none;
		display: block !important;
		text-align: left;
		margin-top: 15px;
	}

	#enquireModal .arrivaldate,input[name=first_name_].form-control {
		margin-bottom: 15px;
	}

	.villa-namepull-left {
		line-height: 1.5;
	}

	.villa-namepull-left a {
		font-size: 15px;
	}

	.villa-namepull-left pre {
		display: inline-block;
		padding: 0 10px;
		position: absolute;
		right: 0;
	}

	.single-villa .villa-namepull-left {
		line-height: 1.3;
		font-size: 15pt;
	}

	.single-villa .villa-namepull-left pre {
		float: none;
		display: inline-block;
	}

	#packages #packages-part-2276>ul {
		height: auto;
	}

	#packages #packages-part-2276>ul>li {
		margin-bottom: 10px;
	}

	#archivements .special-wrap {
		padding: 15px;
	}

	.review-row-item .review-item-box .review-profile,.review-row-item .review-item-box .review-text {
		width: 80%;
		float: none;
		margin: 0 auto;
		display: block;
		font-size: 14px;
		line-height: 1.5;
	}

	.review-row-item .review-item-box .review-profile {
		width: 60%;
	}

	.enquiry-form .form-group>.form-control-wrapper input,.review-box {
		width: 100%;
	}

	.review-row-item .review-item-box h3.review-title {
		line-height: 1.5;
	}

	#ss_wpcr3_custom-2 {
		padding: 0;
	}

	#archivements .award-container>.award {
		flex-basis: 100%;
		height: auto !important;
	}

	.enquiry-form .form-group>.form-control-wrapper select[name=adult_],.enquiry-form .form-group>.form-control-wrapper select[name=children_],.enquiry-form .form-group>.form-control-wrapper select[name=infant_] {
		width: 25%;
	}

	.enquiry-form .form-group>.form-control-wrapper select[name=adult_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=children_]+span,.enquiry-form .form-group>.form-control-wrapper select[name=infant_]+span {
		width: 65%;
	}

	#country-phone .form-group:nth-of-type(1)>.form-control-wrapper select,#input-villa>.form-control-wrapper select,.enquiry-form .form-group>.form-control-wrapper input:not([type=checkbox]) {
		width: 100%;
	}

	.enquiry-form .form-group>.form-control-wrapper span {
		width: 85%;
	}

	#post-1057 #questions-block #datesform .span6:nth-of-type(2)>label,#post-1057 #questions-block #datesform .span6>label,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>label,#post-1057 #questions-block #numberGuestsform .span6>label,#post-1057 #questions-block li>label {
		width: 100%;
		text-align: left;
		padding-top: 0;
	}

	#post-1057 #questions-block #datesform .span6,#post-1057 #questions-block #datesform .span6:nth-of-type(2),#post-1057 #questions-block #datesform .span6:nth-of-type(2)>input,#post-1057 #questions-block #datesform .span6>input,#post-1057 #questions-block #numberGuestsform .span6,#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2),#post-1057 #questions-block #numberGuestsform .span6:nth-of-type(2)>input,#post-1057 #questions-block #numberGuestsform .span6>input,#post-1057 #questions-block li>input,#post-1057 #questions-block li>textarea {
		width: 100%;
	}

	.content-discount .discount-rates-box .inline-half {
		display: block;
		width: 100%;
		height: auto;
		padding: 20px;
	}

	.content-discount .discount-rates-box .inline-half:first-child {
		min-height: 200px;
	}

	.content-discount .discount-rates-box .dis-text {
		margin: 0;
	}

	#custom-select-step.sub-menu{
		left: 15px !important;
	}


}
