/*
==============================================================================================
Nasser Maronie
Villakubu
SoftwareSeni 2016

contrib: Nasser, V edit, Yanuar
mobile.css
==============================================================================================*/

@media(max-width:1024px) {
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
		font-size: 8pt;
		padding: 0 15px;
	}

	.home-bedrooms .ss-part-hide-image {
		height: auto;
	}

	.search-items .row {
		margin: 30px 0;
	}

	.search-items .row .prices .price .price-label .price-currency {
		font-size: 20pt;
	}

	.search-items .row .prices .price .price-label .price-value {
		font-size: 25pt;
	}

	.search-items .row .prices .price .per-night-label:before {
		width: 23%;
	}

	.search-items .row .counts .detail {
		margin-right: 0;
	}

	.filter .button-category .field-wrapper>button {
		font-size: 9px !important;
	}

	.detail-content .price-box .inclusion .button {
		font-size: 8pt;
	}

	.facilities .feature-icons ul li {
		margin: 0 20px;
	}

	#ccyear {
		width: 47%;
	}
}





@media (max-width:959px) {
	#post-269 .col-md-3 {
		width: 100%;
	}
}





@media (max-width:420px) {
	.award.traveler-choice {
		height: auto;
	}
}





@media (max-width:374px) {
	body.page-template-template_bedrooms .search-items .row .prices .price .price-label .price-value {
		font-size: 18pt;
	}

	.services.box ul li {
		float: none;
		width: 100%;
	}
}






@media (max-width:991px) {
	.filter form label{
		float: none;
		text-align: left;
		padding: 0px;
		margin-top: 10px;
	}

	#post-269 .col-md-3 {
		padding: 0 10px;
	}

	#ss_parts_widget-2 .ss-parts-single-part h2 {
		padding-left: 10px;
		padding-right: 10px;
	}

	#mega-menu-wrap-primary #mega-menu-primary,#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children>a.mega-menu-link:after,#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children>a.mega-menu-link:after,#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item-has-children>a.mega-menu-link:after,#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-right {
		margin: 0;
	}

	#footer-middle,#home-bottom #ss_part_widget-4,#ss_part_widget-7 {
		text-align: center;
	}

	#mega-menu-wrap-primary .mega-menu-toggle {
		display: block;
		background: 0 0;
		color: #333;
		outline-color: transparent !important;
	}

	#mega-menu-wrap-primary .mega-menu-toggle #mega-toggle-block-1:before {
		color: #776341;
		font-size: 25pt;
		padding: 10px;
		border-radius: 5px;
	}

	#mega-menu-wrap-primary .mega-menu-toggle #mega-toggle-block-1:after {
		display: none;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item {
		display: list-item;
		z-index: 99;
		float: none !important;
		border-top: 1px solid #C4B298;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>ul.mega-sub-menu {
		display: none;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-toggle-on>ul.mega-sub-menu {
		position: static;
		width: 100%;
		display: block;
		opacity: 1;
		background: #f1f1f1;
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: 0;
		transition: 0;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
		padding: 0 10px;
	}

	#mega-menu-wrap-primary .mega-menu-toggle+#mega-menu-primary {
		position: absolute;
		display: block;
		z-index: 999999999999;
		background: #fff;
		overflow: hidden;
		width: 100%;
		top: 0;
		box-shadow: 0 10px 10px rgba(0,0,0,.3);
		opacity: 0;
		pointer-events: none;
		-webkit-transition: ease-in-out .3s;
		transition: ease-in-out .3s;
	}

	#mega-menu-wrap-primary .mega-menu-toggle.mega-menu-open+#mega-menu-primary {
		top: 60px;
		opacity: 1;
		pointer-events: auto;
		-webkit-transition: ease-in-out .3s;
		transition: ease-in-out .3s;
	}

	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu .ss-part-image {
		display: none;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.widget_ss_part_widget {
		display: inline-block;
		float: none;
		width: 100%;
		padding: 5px 10px;
	}

	#mega-menu-primary .fa,#offcanvas {
		display: block;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.widget_ss_part_widget .ss-part-title-link h2 {
		font-size: 8pt;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
		color: #776341;
		display: block;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item-has-children:after {
		position: absolute;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:after {
		width: 100%;
		bottom: -5px;
		margin: 0;
	}

	#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-parent>a.mega-menu-link,#mega-menu-wrap-primary #mega-menu-primary>li.mega-current_page_item>a.mega-menu-link {
		background: #C4B298;
		color: #fff;
	}

	#navbar .menu,.offcanvas-menu>* {
		display: none;
	}

	.offcanvas-menu>.offcanvas-hamburger {
		display: block;
		padding: 12px 0;
	}

	.ss-slideshow .ss-browse .nav-text {
		display: none !important;
	}

	#offcanvas ul ul {
		display: none;
	}

	#offcanvas ul li.opened>ul {
		display: block;
	}

	#logo {
		width: 80px;
		right: auto;
		left: 10px;
	}

	#section-header-top {
		display: none;
	}

	#section-header-middle {
		padding: 25px 0;
	}

	#section-header-middle .container {
		padding: 0;
	}

	.ss-villa-search-widget .input-wrapper {
		width: 46.5%;
		margin: 10px 5px !important;
	}

	.ss-villa-search-widget input[type=submit] {
		margin: 15px;
	}

	.ss-villa-search-widget .search-dropdown {
		width: 95.5%;
		margin: 0;
	}

	#custom-select-step.sub-menu {
		width: 85%;
	}

	#custom-select-step.sub-menu li {
		width: 100%;
	}

	.sticky-search-container.sticky-search {
		top: -257px;
	}

	#ss_parts_widget-2 .ss-parts-single-part h2 {
		font-size: 15px;
	}

	#footer-middle .ss-menu-container {
		display: inline-table;
		width: auto;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	#footer-middle .ss-menu-container li {
		display: inline-block;
		margin: 0 20px;
	}

	#footer-middle .ss-menu-container h2 {
		display: none;
	}

	#footer-middle #navbar-contact {
		padding-left: 0;
	}

	.ss-slideshow .ss-slide-caption h3 {
		font-size: 30px;
	}

	.ss-slideshow .ss-slide-caption p {
		font-size: 15px;
	}

	.facilities .bedroom,.facilities .customer-review,.facilities .features {
		margin-right: 0;
		margin-left: 0;
		height: auto;
	}

	.detail-content .count {
		margin-top: 30px;
	}

	.detail-content .price-box .inclusion .button {
		font-size: 15pt;
	}

	.facilities .feature-icons ul li {
		margin: 0 5px;
	}

	.facilities .facilitiy,.facilities .features,.facilities .services {
		margin-right: 0;
		height: auto;
	}

	.wpcr3_review_item .wpcr3_product {
		height: auto;
		width: 100%;
	}

	.filter form {
		width: 100%;
	}

	.search-items .row .image .ss-slideshow .ss-slide {
		min-height: 250px;
	}

	.search-items .row .details .villa-detail {
		max-height: 115px;
	}

	.search-items .row .counts .bed,.search-items .row .counts .detail,.search-items .row .counts .man {
		border-right: 0;
		padding: 0 0 0 10px;
	}

	.search-items .row .counts {
		padding: 10px 20px;
		height: auto;
	}

	.search-items .row .prices .price {
		padding-top: 60px;
	}

	.search-items .row .counts .bed span,.search-items .row .counts .man span {
		margin-right: 20px;
	}

	.search-items .row .counts .detail {
		display: inline-block;
		width: 40%;
	}

	.post-wrapper .post .entry-date,.search-param .info-param .date-param,.search-param .info-param .villa-param {
		display: none;
	}

	.search-items .row .prices .price .price-label .price-currency {
		font-size: 25pt;
	}

	.search-items .row .prices .price .price-label .price-value {
		font-size: 35pt;
	}

	.search-items .row .prices .price .per-night-label:before {
		width: 43%;
	}

	.info-param .open-search {
		padding: 0;
		color: #776341;
		background: 0 0;
		font-weight: 600;
		font-size: 10pt;
	}

	.search-items .row .details,.search-items .row .prices {
		height: 400px;
		border-left: .5px solid #ddd;
	}

	.search-items .row .prices .button-sub,.search-items .row .prices .button-sub:nth-of-type(2) {
		width: 41%;
	}

	.filter form select,body.page-template-default .features.box ul li,body.page-template-template_bedrooms .features.box ul li,body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper>select {
		width: 100%;
	}

	.filter .button-category .field-wrapper>button {
		font-size: 10px !important;
	}

	.filter form>.field-wrapper {
		text-align: left;
	}

	body.page-template-template_bedrooms .filter form,body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper {
		width: 100%;
		text-align: left;
	}

	.responsive-tabs__list__item {
		font-size: 8pt !important;
	}

	.responsive-tabs .responsive-tabs__panel {
		padding: 5px !important;
	}

	.blog .post-wrapper,.detail-content .col-md-9,.single-post .status-publish .col-md-9 {
		padding-right: 0;
	}

	body.sticky-search-on #section-home-middle {
		margin-top: 180px;
	}

	.floorplan-container>div>img.zoomed {
		width: 700px;
	}

	.ss-modal {
		width: 90%;
	}

	.gallery-item,.videos-gal {
		width: 50% !important;
	}

	#accept .accept .checkbox {
		padding-left: 50px;
	}

	#accepptermscbx {
		margin-left: -50px;
	}

	#ta-certificate,.wpcr3_review_item .wpcr3_review {
		height: auto;
	}

	#ta-certificate .ss-part-image img {
		width: 50%;
	}
}










@media (max-width:767px) {
	.home-bedrooms .ss-part-hide-image {
		height: auto;
	}

	#footer-middle .ss-menu-container li {
		margin: 0 5px;
	}

	#footer-middle .ss-menu-container li a {
		font-size: 10pt;
	}

	.ss-villa-search-widget .input-wrapper {
		width: 100%;
		margin: 0 !important;
	}

	.ss-villa-search-widget input[type=submit] {
		width: 50%;
	}

	.ss-villa-search-widget input {
		width: 100%;
		margin: 10px 0;
	}

	.ss-villa-search-widget .search-dropdown {
		width: 100%;
	}

	.sticky-search-container.sticky-search {
		top: -255px;
	}

	.ss-slideshow .ss-slide-caption h3 {
		font-size: 15px;
	}

	.ss-slideshow .ss-slide-caption p {
		line-height: 1;
		font-size: 10px;
	}

	.tablepress .column-1 {
		width: auto;
	}

	.gallery-grid .row>a,.gallery-grid .row>a:nth-of-type(1) {
		width: 100% !important;
		height: auto;
	}

	.gallery-grid .row>a:nth-of-type(1) img {
		width: 100%;
		z-index: 1;
		-ms-transform: translateY(0) scale(1);
		-o-transform: translateY(0) scale(1);
		-moz-transform: translateY(0) scale(1);
		-webkit-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
	}

	.detail-content .price-box .inclusion .button {
		font-size: 8pt;
	}

	.facilities .feature-icons ul li span {
		font-size: 7pt;
	}

	#slideshow .images {
		width: 100%;
		left: 0 !important;
		right: 0 !important;
	}

	#slideshow .images>div {
		padding-top: 0 !important;
		background-size: contain;
	}

	.search-param .info-param {
		display: block;
	}

	.info-param .open-search {
		margin-left: 0;
		width: 100%;
	}

	.search-param .info-param>div {
		text-align: center;
		border: 0;
		box-shadow: none;
	}

	.search-param .info-param>div>span {
		margin-left: 0;
	}

	.filter .button-category .field-wrapper {
		width: 48%;
		margin: 5px 0;
	}

	.filter {
		display: block !important;
	}

	.filter>div {
		width: 100% !important;
		text-align: left;
	}

	.filter form {
		float: none;
	}

	.filter form select,body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper,body.page-template-template_search_villas .filter>.col-md-8>.field-wrapper>select,body.page-template-template_search_villas .filter>.col-md-8>span {
		float: none;
		width: 100%;
	}

	.search-items .row .details {
		border-right: .5px solid #ddd;
	}

	.search-items .row .prices .price .per-night-label:before {
		width: 25%;
	}

	.search-items .row .counts {
		text-align: left;
		position: relative;
	}

	.search-items .row .prices {
		padding: 10px;
		height: auto;
		text-align: center;
	}

	.search-items .row .prices .price {
		position: relative;
		height: auto;
		padding-top: 10px;
	}

	.search-items .row .prices .button {
		position: relative;
		display: block;
		bottom: 0;
		margin-top: 15px !important;
	}

	.search-items .row .prices .button-sub {
		width: 40%;
		display: inline-block;
		right: auto;
	}

	.search-items .row .prices .button-sub:nth-of-type(2) {
		display: inline-block;
		left: auto;
	}

	body.page-template-template_bedrooms .filter form {
		width: 100%;
	}

	.search-items .row .prices .price .price-label .price-currency {
		font-size: 18pt;
	}

	.search-items .row .prices .price .price-label .price-value {
		font-size: 20pt;
	}

	.search-items .row .details,.search-items .row .details .villa-detail {
		overflow: visible;
		max-height: none !important;
		height: auto !important;
	}

	.responsive-tabs .responsive-tabs__heading--active,.responsive-tabs .responsive-tabs__heading--active:hover {
		background: #C4B298 !important;
		border-bottom: none;
		color: #333 !important;
	}

	.responsive-tabs .responsive-tabs__panel {
		border-width: 4px !important;
		padding: 15px 3px !important;
	}

	.responsive-tabs ul.responsive-tabs__list {
		display: none;
	}

	.villa-compare {
		padding: 0;
	}

	.special-offer .ss-parts-single-part {
		height: auto;
	}

	.floorplan-container>div>img.zoomed {
		width: 350px;
	}

	.form-horizontal {
		text-align: left;
	}

	#creditcard .control-group:last-child label:nth-of-type(2),.form-horizontal .control-group label {
		width: 100%;
		padding-right: 0;
	}

	.form-horizontal .control-group .controls {
		width: 100%;
		float: none;
	}

	#cccvv,#ccmonth,#ccyear,#creditcard .control-group:last-child .controls {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.credit-icon {
		width: 100%;
	}

	#revisedates .span6 {
		width: 100%;
		float: none;
	}

	.picker .picker__holder {
		font-size: 12pt !important;
	}

	.picker .picker__wrap .picker__table thead {
		font-size: 12pt;
	}

	.picker .picker__wrap .picker__table td>div,.picker .picker__wrap .picker__table th {
		padding: 5px;
	}

	#slider .flex-caption {
		font-size: 10px;
		padding: 5px !important;
	}

	.gallery-item,.videos-gal {
		width: 100% !important;
	}

	#ta-certificate .ss-part-image img {
		width: 70%;
	}

	#enquireModal .arrivaldate,#enquireModal .departuredate {
		width: 100%;
		float: none;
		margin: 0;
	}
}